%icon_small {
  width: 48px;
  height: 48px;
}


.abigail_flower_48 {
  background: url(../assets/items_small.png) -201px 0px no-repeat;
  @extend %icon_small;

}

.acorn_48 {
  background: url(../assets/items_small.png) -251px 0px no-repeat;
  @extend %icon_small;
}

.acorn_cooked_48 {
  background: url(../assets/items_small.png) -301px 0px no-repeat;
  @extend %icon_small;
}

.amulet_48 {
  background: url(../assets/items_small.png) -351px 0px no-repeat;
  @extend %icon_small;
}

.armor_sanity_48 {
  background: url(../assets/items_small.png) -401px 0px no-repeat;
  @extend %icon_small;
}

.armor_slurper_48 {
  background: url(../assets/items_small.png) -350px -902px no-repeat;
  width: 47px;
  height: 47px;
}

.armordragonfly_48 {
  background: url(../assets/items_small.png) -451px 0px no-repeat;
  @extend %icon_small;
}

.armorgrass_48 {
  background: url(../assets/items_small.png) -501px 0px no-repeat;
  @extend %icon_small;
}

.armormarble_48 {
  background: url(../assets/items_small.png) -551px 0px no-repeat;
  @extend %icon_small;
}

.armorruins_48 {
  background: url(../assets/items_small.png) -601px 0px no-repeat;
  @extend %icon_small;
}

.armorslurper_48 {
  background: url(../assets/items_small.png) -651px 0px no-repeat;
  @extend %icon_small;
}

.armorsnurtleshell_48 {
  background: url(../assets/items_small.png) -701px 0px no-repeat;
  @extend %icon_small;
}

.armorwood_48 {
  background: url(../assets/items_small.png) -751px 0px no-repeat;
  @extend %icon_small;
}

.ash_48 {
  background: url(../assets/items_small.png) -801px 0px no-repeat;
  @extend %icon_small;
}

.axe_48 {
  background: url(../assets/items_small.png) -851px 0px no-repeat;
  @extend %icon_small;
}

.backpack_48 {
  background: url(../assets/items_small.png) -901px 0px no-repeat;
  @extend %icon_small;
}

.baconeggs_48 {
  background: url(../assets/items_small.png) -951px 0px no-repeat;
  @extend %icon_small;
}

.balloons_empty_48 {
  background: url(../assets/items_small.png) -1001px 0px no-repeat;
  @extend %icon_small;
}

.bandage_48 {
  background: url(../assets/items_small.png) 0px -52px no-repeat;
  @extend %icon_small;
}

.batbat_48 {
  background: url(../assets/items_small.png) -50px -52px no-repeat;
  @extend %icon_small;
}

.batwing_48 {
  background: url(../assets/items_small.png) -100px -52px no-repeat;
  @extend %icon_small;
}

.batwing_cooked_48 {
  background: url(../assets/items_small.png) -150px -52px no-repeat;
  @extend %icon_small;
}

.beardhair_48 {
  background: url(../assets/items_small.png) -200px -52px no-repeat;
  @extend %icon_small;
}

.bearger_fur_48 {
  background: url(../assets/items_small.png) -250px -52px no-repeat;
  @extend %icon_small;
}

.beargervest_48 {
  background: url(../assets/items_small.png) -300px -52px no-repeat;
  @extend %icon_small;
}

.bedroll_furry_48 {
  background: url(../assets/items_small.png) -350px -52px no-repeat;
  @extend %icon_small;
}

.bedroll_straw_48 {
  background: url(../assets/items_small.png) -400px -52px no-repeat;
  @extend %icon_small;
}

.bee_48 {
  background: url(../assets/items_small.png) -450px -52px no-repeat;
  @extend %icon_small;
}

.beebox_48 {
  background: url(../assets/items_small.png) -500px -52px no-repeat;
  @extend %icon_small;
}

.beefalohat_48 {
  background: url(../assets/items_small.png) -550px -52px no-repeat;
  @extend %icon_small;
}

.beefalowool_48 {
  background: url(../assets/items_small.png) -600px -52px no-repeat;
  @extend %icon_small;
}

.beehat_48 {
  background: url(../assets/items_small.png) -650px -52px no-repeat;
  @extend %icon_small;
}

.beemine_48 {
  background: url(../assets/items_small.png) -700px -52px no-repeat;
  @extend %icon_small;
}

.bell_48 {
  background: url(../assets/items_small.png) -750px -52px no-repeat;
  @extend %icon_small;
}

.berries_48 {
  background: url(../assets/items_small.png) -800px -52px no-repeat;
  @extend %icon_small;
}

.berries_cooked_48 {
  background: url(../assets/items_small.png) -850px -52px no-repeat;
  @extend %icon_small;
}

.bird_egg_48 {
  background: url(../assets/items_small.png) -900px -52px no-repeat;
  @extend %icon_small;
}

.bird_egg_cooked_48 {
  background: url(../assets/items_small.png) -950px -52px no-repeat;
  @extend %icon_small;
}

.birdcage_48 {
  background: url(../assets/items_small.png) -1000px -52px no-repeat;
  @extend %icon_small;
}

.birdtrap_48 {
  background: url(../assets/items_small.png) 0px -102px no-repeat;
  @extend %icon_small;
}

.blowdart_fire_48 {
  background: url(../assets/items_small.png) -50px -102px no-repeat;
  @extend %icon_small;
}

.blowdart_pipe_48 {
  background: url(../assets/items_small.png) -100px -102px no-repeat;
  @extend %icon_small;
}

.blowdart_sleep_48 {
  background: url(../assets/items_small.png) -150px -102px no-repeat;
  @extend %icon_small;
}

.blue_cap_48 {
  background: url(../assets/items_small.png) -200px -102px no-repeat;
  @extend %icon_small;
}

.blue_cap_cooked_48 {
  background: url(../assets/items_small.png) -250px -102px no-repeat;
  @extend %icon_small;
}

.blueamulet_48 {
  background: url(../assets/items_small.png) -300px -102px no-repeat;
  @extend %icon_small;
}

.bluegem_48 {
  background: url(../assets/items_small.png) -350px -102px no-repeat;
  @extend %icon_small;
}

.blueprint_48 {
  background: url(../assets/items_small.png) -400px -102px no-repeat;
  @extend %icon_small;
}

.boards_48 {
  background: url(../assets/items_small.png) -450px -102px no-repeat;
  @extend %icon_small;
}

.boneshard_48 {
  background: url(../assets/items_small.png) -500px -102px no-repeat;
  @extend %icon_small;
}

.bonestew_48 {
  background: url(../assets/items_small.png) -550px -102px no-repeat;
  @extend %icon_small;
}

.book_birds_48 {
  background: url(../assets/items_small.png) -600px -102px no-repeat;
  @extend %icon_small;
}

.book_brimstone_48 {
  background: url(../assets/items_small.png) -650px -102px no-repeat;
  @extend %icon_small;
}

.book_gardening_48 {
  background: url(../assets/items_small.png) -700px -102px no-repeat;
  @extend %icon_small;
}

.book_sleep_48 {
  background: url(../assets/items_small.png) -750px -102px no-repeat;
  width: 47px;
  height: 48px;
}

.book_tentacles_48 {
  background: url(../assets/items_small.png) -799px -102px no-repeat;
  @extend %icon_small;
}

.boomerang_48 {
  background: url(../assets/items_small.png) -849px -102px no-repeat;
  @extend %icon_small;
}

.bugnet_48 {
  background: url(../assets/items_small.png) -899px -102px no-repeat;
  @extend %icon_small;
}

.bushhat_48 {
  background: url(../assets/items_small.png) -949px -102px no-repeat;
  @extend %icon_small;
}

.butter_48 {
  background: url(../assets/items_small.png) -999px -102px no-repeat;
  @extend %icon_small;
}

.butterfly_48 {
  background: url(../assets/items_small.png) 0px -152px no-repeat;
  @extend %icon_small;
}

.butterflymuffin_48 {
  background: url(../assets/items_small.png) -50px -152px no-repeat;
  @extend %icon_small;
}

.butterflywings_48 {
  background: url(../assets/items_small.png) -100px -152px no-repeat;
  @extend %icon_small;
}

.cactus_flower_48 {
  background: url(../assets/items_small.png) -150px -152px no-repeat;
  @extend %icon_small;
}

.cactus_meat_48 {
  background: url(../assets/items_small.png) -200px -152px no-repeat;
  @extend %icon_small;
}

.cactus_meat_cooked_48 {
  background: url(../assets/items_small.png) -250px -152px no-repeat;
  @extend %icon_small;
}

.campfire_48 {
  background: url(../assets/items_small.png) -300px -152px no-repeat;
  @extend %icon_small;
}

.cane_48 {
  background: url(../assets/items_small.png) -350px -152px no-repeat;
  @extend %icon_small;
}

.carrot_48 {
  background: url(../assets/items_small.png) -400px -152px no-repeat;
  @extend %icon_small;
}

.carrot_cooked_48 {
  background: url(../assets/items_small.png) -450px -152px no-repeat;
  @extend %icon_small;
}

.carrot_seeds_48 {
  background: url(../assets/items_small.png) -500px -152px no-repeat;
  @extend %icon_small;
}

.catcoonhat_48 {
  background: url(../assets/items_small.png) -550px -152px no-repeat;
  @extend %icon_small;
}

.cave_banana_48 {
  background: url(../assets/items_small.png) -600px -152px no-repeat;
  @extend %icon_small;
}

.cave_banana_cooked_48 {
  background: url(../assets/items_small.png) -650px -152px no-repeat;
  @extend %icon_small;
}

.charcoal_48 {
  background: url(../assets/items_small.png) -700px -152px no-repeat;
  @extend %icon_small;
}

.chester_eyebone_48 {
  background: url(../assets/items_small.png) -750px -152px no-repeat;
  @extend %icon_small;
}

.compass_48 {
  background: url(../assets/items_small.png) -800px -152px no-repeat;
  @extend %icon_small;
}

.cookedmandrake_48 {
  background: url(../assets/items_small.png) -850px -152px no-repeat;
  @extend %icon_small;
}

.cookedmonstermeat_48 {
  background: url(../assets/items_small.png) -900px -152px no-repeat;
  @extend %icon_small;
}

.cookedsmallmeat_48 {
  background: url(../assets/items_small.png) -950px -152px no-repeat;
  @extend %icon_small;
}

.cookpot_48 {
  background: url(../assets/items_small.png) -1000px -152px no-repeat;
  @extend %icon_small;
}

.coontail_48 {
  background: url(../assets/items_small.png) 0px -202px no-repeat;
  @extend %icon_small;
}

.corn_48 {
  background: url(../assets/items_small.png) -50px -202px no-repeat;
  @extend %icon_small;
}

.corn_cooked_48 {
  background: url(../assets/items_small.png) -100px -202px no-repeat;
  @extend %icon_small;
}

.corn_seeds_48 {
  background: url(../assets/items_small.png) -150px -202px no-repeat;
  @extend %icon_small;
}

.crow_48 {
  background: url(../assets/items_small.png) -200px -202px no-repeat;
  @extend %icon_small;
}

.cutgrass_48 {
  background: url(../assets/items_small.png) -250px -202px no-repeat;
  @extend %icon_small;
}

.cutlichen_48 {
  background: url(../assets/items_small.png) -300px -202px no-repeat;
  @extend %icon_small;
}

.cutreeds_48 {
  background: url(../assets/items_small.png) -350px -202px no-repeat;
  @extend %icon_small;
}

.cutstone_48 {
  background: url(../assets/items_small.png) -400px -202px no-repeat;
  @extend %icon_small;
}

.deerclops_eyeball_48 {
  background: url(../assets/items_small.png) -450px -202px no-repeat;
  @extend %icon_small;
}

.diviningrod_48 {
  background: url(../assets/items_small.png) -500px -202px no-repeat;
  @extend %icon_small;
}

.dragon_scales_48 {
  background: url(../assets/items_small.png) -550px -202px no-repeat;
  @extend %icon_small;
}

.dragonflychest_48 {
  background: url(../assets/items_small.png) -600px -202px no-repeat;
  width: 47px;
  height: 48px;
}

.dragonfruit_48 {
  background: url(../assets/items_small.png) -649px -202px no-repeat;
  @extend %icon_small;
}

.dragonfruit_cooked_48 {
  background: url(../assets/items_small.png) -699px -202px no-repeat;
  @extend %icon_small;
}

.dragonfruit_seeds_48 {
  background: url(../assets/items_small.png) -749px -202px no-repeat;
  @extend %icon_small;
}

.dragonpie_48 {
  background: url(../assets/items_small.png) -799px -202px no-repeat;
  @extend %icon_small;
}

.drumstick_48 {
  background: url(../assets/items_small.png) -849px -202px no-repeat;
  @extend %icon_small;
}

.drumstick_cooked_48 {
  background: url(../assets/items_small.png) -899px -202px no-repeat;
  @extend %icon_small;
}

.dug_berrybush2_48 {
  background: url(../assets/items_small.png) -949px -202px no-repeat;
  @extend %icon_small;
}

.dug_berrybush_48 {
  background: url(../assets/items_small.png) -999px -202px no-repeat;
  @extend %icon_small;
}

.dug_grass_48 {
  background: url(../assets/items_small.png) 0px -252px no-repeat;
  @extend %icon_small;
}

.dug_marsh_bush_48 {
  background: url(../assets/items_small.png) -50px -252px no-repeat;
  @extend %icon_small;
}

.durian_48 {
  background: url(../assets/items_small.png) -100px -252px no-repeat;
  @extend %icon_small;
}

.durian_cooked_48 {
  background: url(../assets/items_small.png) -150px -252px no-repeat;
  @extend %icon_small;
}

.durian_seeds_48 {
  background: url(../assets/items_small.png) -200px -252px no-repeat;
  @extend %icon_small;
}

.earmuffshat_48 {
  background: url(../assets/items_small.png) -250px -252px no-repeat;
  @extend %icon_small;
}

.eel_48 {
  background: url(../assets/items_small.png) -300px -252px no-repeat;
  @extend %icon_small;
}

.eel_cooked_48 {
  background: url(../assets/items_small.png) -350px -252px no-repeat;
  @extend %icon_small;
}

.eggplant_48 {
  background: url(../assets/items_small.png) -400px -252px no-repeat;
  @extend %icon_small;
}

.eggplant_cooked_48 {
  background: url(../assets/items_small.png) -450px -252px no-repeat;
  @extend %icon_small;
}

.eggplant_seeds_48 {
  background: url(../assets/items_small.png) -500px -252px no-repeat;
  @extend %icon_small;
}

.eyebrellahat_48 {
  background: url(../assets/items_small.png) -550px -252px no-repeat;
  @extend %icon_small;
}

.eyeturret_item_48 {
  background: url(../assets/items_small.png) -600px -252px no-repeat;
  @extend %icon_small;
}

.fast_farmplot_48 {
  background: url(../assets/items_small.png) -650px -252px no-repeat;
  @extend %icon_small;
}

.feather_crow_48 {
  background: url(../assets/items_small.png) -700px -252px no-repeat;
  @extend %icon_small;
}

.feather_robin_48 {
  background: url(../assets/items_small.png) -750px -252px no-repeat;
  @extend %icon_small;
}

.feather_robin_winter_48 {
  background: url(../assets/items_small.png) -800px -252px no-repeat;
  @extend %icon_small;
}

.featherfan_48 {
  background: url(../assets/items_small.png) -850px -252px no-repeat;
  @extend %icon_small;
}

.featherhat_48 {
  background: url(../assets/items_small.png) -900px -252px no-repeat;
  @extend %icon_small;
}

.fertilizer_48 {
  background: url(../assets/items_small.png) -950px -252px no-repeat;
  @extend %icon_small;
}

.fireflies_48 {
  background: url(../assets/items_small.png) -1000px -252px no-repeat;
  @extend %icon_small;
}

.firepit_48 {
  background: url(../assets/items_small.png) 0px -302px no-repeat;
  @extend %icon_small;
}

.firestaff_48 {
  background: url(../assets/items_small.png) -50px -302px no-repeat;
  @extend %icon_small;
}

.firesuppressor_48 {
  background: url(../assets/items_small.png) -150px 0px no-repeat;
  width: 49px;
  height: 48px;
}

.fish_48 {
  background: url(../assets/items_small.png) -100px -302px no-repeat;
  @extend %icon_small;
}

.fish_cooked_48 {
  background: url(../assets/items_small.png) -150px -302px no-repeat;
  @extend %icon_small;
}

.fishingrod_48 {
  background: url(../assets/items_small.png) -200px -302px no-repeat;
  @extend %icon_small;
}

.fishsticks_48 {
  background: url(../assets/items_small.png) -250px -302px no-repeat;
  @extend %icon_small;
}

.fishtacos_48 {
  background: url(../assets/items_small.png) -300px -302px no-repeat;
  @extend %icon_small;
}

.flint_48 {
  background: url(../assets/items_small.png) -350px -302px no-repeat;
  @extend %icon_small;
}

.flowerhat_48 {
  background: url(../assets/items_small.png) -400px -302px no-repeat;
  @extend %icon_small;
}

.flowersalad_48 {
  background: url(../assets/items_small.png) -450px -302px no-repeat;
  @extend %icon_small;
}

.foliage_48 {
  background: url(../assets/items_small.png) -500px -302px no-repeat;
  @extend %icon_small;
}

.footballhat_48 {
  background: url(../assets/items_small.png) -550px -302px no-repeat;
  @extend %icon_small;
}

.frogglebunwich_48 {
  background: url(../assets/items_small.png) -600px -302px no-repeat;
  @extend %icon_small;
}

.froglegs_48 {
  background: url(../assets/items_small.png) -650px -302px no-repeat;
  @extend %icon_small;
}

.froglegs_cooked_48 {
  background: url(../assets/items_small.png) -700px -302px no-repeat;
  @extend %icon_small;
}

.fruitmedley_48 {
  background: url(../assets/items_small.png) -750px -302px no-repeat;
  @extend %icon_small;
}

.gears_48 {
  background: url(../assets/items_small.png) -800px -302px no-repeat;
  @extend %icon_small;
}

.glommerflower_48 {
  background: url(../assets/items_small.png) -850px -302px no-repeat;
  @extend %icon_small;
}

.glommerfuel_48 {
  background: url(../assets/items_small.png) -900px -302px no-repeat;
  @extend %icon_small;
}

.glommerwings_48 {
  background: url(../assets/items_small.png) -950px -302px no-repeat;
  @extend %icon_small;
}

.goatmilk_48 {
  background: url(../assets/items_small.png) -1000px -302px no-repeat;
  @extend %icon_small;
}

.goldenaxe_48 {
  background: url(../assets/items_small.png) 0px -352px no-repeat;
  @extend %icon_small;
}

.goldenpickaxe_48 {
  background: url(../assets/items_small.png) -50px -352px no-repeat;
  @extend %icon_small;
}

.goldenshovel_48 {
  background: url(../assets/items_small.png) -100px -352px no-repeat;
  @extend %icon_small;
}

.goldnugget_48 {
  background: url(../assets/items_small.png) -150px -352px no-repeat;
  @extend %icon_small;
}

.goose_feather_48 {
  background: url(../assets/items_small.png) -200px -352px no-repeat;
  @extend %icon_small;
}

.grass_umbrella_48 {
  background: url(../assets/items_small.png) -250px -352px no-repeat;
  @extend %icon_small;
}

.green_cap_48 {
  background: url(../assets/items_small.png) -300px -352px no-repeat;
  @extend %icon_small;
}

.green_cap_cooked_48 {
  background: url(../assets/items_small.png) -350px -352px no-repeat;
  @extend %icon_small;
}

.greenamulet_48 {
  background: url(../assets/items_small.png) -400px -352px no-repeat;
  @extend %icon_small;
}

.greengem_48 {
  background: url(../assets/items_small.png) -450px -352px no-repeat;
  @extend %icon_small;
}

.greenstaff_48 {
  background: url(../assets/items_small.png) -500px -352px no-repeat;
  @extend %icon_small;
}

.guacamole_48 {
  background: url(../assets/items_small.png) -550px -352px no-repeat;
  @extend %icon_small;
}

.guano_48 {
  background: url(../assets/items_small.png) -600px -352px no-repeat;
  @extend %icon_small;
}

.gunpowder_48 {
  background: url(../assets/items_small.png) -650px -352px no-repeat;
  @extend %icon_small;
}

.hambat_48 {
  background: url(../assets/items_small.png) -700px -352px no-repeat;
  @extend %icon_small;
}

.hammer_48 {
  background: url(../assets/items_small.png) -750px -352px no-repeat;
  @extend %icon_small;
}

.hawaiianshirt_48 {
  background: url(../assets/items_small.png) -800px -352px no-repeat;
  @extend %icon_small;
}

.healingsalve_48 {
  background: url(../assets/items_small.png) -850px -352px no-repeat;
  @extend %icon_small;
}

.health_48 {
  background: url(../assets/items_small.png) 0px 0px no-repeat;
  width: 48px;
  height: 50px;
}

.heatrock_48 {
  background: url(../assets/items_small.png) -900px -352px no-repeat;
  @extend %icon_small;
}

.homesign_48 {
  background: url(../assets/items_small.png) -950px -352px no-repeat;
  @extend %icon_small;
}

.honey_48 {
  background: url(../assets/items_small.png) -1000px -352px no-repeat;
  @extend %icon_small;
}

.honeycomb_48 {
  background: url(../assets/items_small.png) 0px -402px no-repeat;
  @extend %icon_small;
}

.honeyham_48 {
  background: url(../assets/items_small.png) -50px -402px no-repeat;
  @extend %icon_small;
}

.honeynuggets_48 {
  background: url(../assets/items_small.png) -100px -402px no-repeat;
  @extend %icon_small;
}

.horn_48 {
  background: url(../assets/items_small.png) -150px -402px no-repeat;
  @extend %icon_small;
}

.hotchili_48 {
  background: url(../assets/items_small.png) -200px -402px no-repeat;
  @extend %icon_small;
}

.houndstooth_48 {
  background: url(../assets/items_small.png) -250px -402px no-repeat;
  @extend %icon_small;
}

.hunger_48 {
  background: url(../assets/items_small.png) -50px 0px no-repeat;
  width: 48px;
  height: 50px;
}

.ice_48 {
  background: url(../assets/items_small.png) -300px -402px no-repeat;
  @extend %icon_small;
}

.icebox_48 {
  background: url(../assets/items_small.png) -350px -402px no-repeat;
  @extend %icon_small;
}

.icecream_48 {
  background: url(../assets/items_small.png) -400px -402px no-repeat;
  @extend %icon_small;
}

.icehat_48 {
  background: url(../assets/items_small.png) -450px -402px no-repeat;
  @extend %icon_small;
}

.icepack_48 {
  background: url(../assets/items_small.png) -500px -402px no-repeat;
  @extend %icon_small;
}

.icestaff_48 {
  background: url(../assets/items_small.png) -550px -402px no-repeat;
  @extend %icon_small;
}

.jammypreserves_48 {
  background: url(../assets/items_small.png) -600px -402px no-repeat;
  @extend %icon_small;
}

.kabobs_48 {
  background: url(../assets/items_small.png) -650px -402px no-repeat;
  @extend %icon_small;
}

.killerbee_48 {
  background: url(../assets/items_small.png) -700px -402px no-repeat;
  @extend %icon_small;
}

.krampus_sack_48 {
  background: url(../assets/items_small.png) -750px -402px no-repeat;
  @extend %icon_small;
}

.lantern_48 {
  background: url(../assets/items_small.png) -800px -402px no-repeat;
  @extend %icon_small;
}

.lightbulb_48 {
  background: url(../assets/items_small.png) -850px -402px no-repeat;
  @extend %icon_small;
}

.lighter_48 {
  background: url(../assets/items_small.png) -900px -402px no-repeat;
  @extend %icon_small;
}

.lightning_rod_48 {
  background: url(../assets/items_small.png) -950px -402px no-repeat;
  @extend %icon_small;
}

.lightninggoathorn_48 {
  background: url(../assets/items_small.png) -1000px -402px no-repeat;
  @extend %icon_small;
}

.livinglog_48 {
  background: url(../assets/items_small.png) 0px -452px no-repeat;
  @extend %icon_small;
}

.log_48 {
  background: url(../assets/items_small.png) -50px -452px no-repeat;
  @extend %icon_small;
}

.lucy_48 {
  background: url(../assets/items_small.png) -100px -452px no-repeat;
  @extend %icon_small;
}

.lureplantbulb_48 {
  background: url(../assets/items_small.png) -150px -452px no-repeat;
  @extend %icon_small;
}

.mandrake_48 {
  background: url(../assets/items_small.png) -200px -452px no-repeat;
  @extend %icon_small;
}

.mandrakesoup_48 {
  background: url(../assets/items_small.png) -250px -452px no-repeat;
  @extend %icon_small;
}

.manrabbit_tail_48 {
  background: url(../assets/items_small.png) -300px -452px no-repeat;
  @extend %icon_small;
}

.manure_48 {
  background: url(../assets/items_small.png) -350px -452px no-repeat;
  @extend %icon_small;
}

.marble_48 {
  background: url(../assets/items_small.png) -400px -452px no-repeat;
  @extend %icon_small;
}

.meat_dried_48 {
  background: url(../assets/items_small.png) -450px -452px no-repeat;
  @extend %icon_small;
}

.meatballs_48 {
  background: url(../assets/items_small.png) -500px -452px no-repeat;
  @extend %icon_small;
}

.meatrack_48 {
  background: url(../assets/items_small.png) -550px -452px no-repeat;
  @extend %icon_small;
}

.minerhat_48 {
  background: url(../assets/items_small.png) -600px -452px no-repeat;
  @extend %icon_small;
}

.minotaurhorn_48 {
  background: url(../assets/items_small.png) -650px -452px no-repeat;
  @extend %icon_small;
}

.mole_48 {
  background: url(../assets/items_small.png) -700px -452px no-repeat;
  @extend %icon_small;
}

.molehat_48 {
  background: url(../assets/items_small.png) -750px -452px no-repeat;
  @extend %icon_small;
}

.monsterlasagna_48 {
  background: url(../assets/items_small.png) -800px -452px no-repeat;
  @extend %icon_small;
}

.monstermeat_48 {
  background: url(../assets/items_small.png) -850px -452px no-repeat;
  @extend %icon_small;
}

.monstermeat_dried_48 {
  background: url(../assets/items_small.png) -900px -452px no-repeat;
  @extend %icon_small;
}

.mosquito_48 {
  background: url(../assets/items_small.png) -950px -452px no-repeat;
  @extend %icon_small;
}

.mosquitosack_48 {
  background: url(../assets/items_small.png) -1000px -452px no-repeat;
  @extend %icon_small;
}

.multitool_axe_pickaxe_48 {
  background: url(../assets/items_small.png) 0px -502px no-repeat;
  @extend %icon_small;
}

.nightlight_48 {
  background: url(../assets/items_small.png) -50px -502px no-repeat;
  @extend %icon_small;
}

.nightmare_timepiece_48 {
  background: url(../assets/items_small.png) -100px -502px no-repeat;
  @extend %icon_small;
}

.nightmarefuel_48 {
  background: url(../assets/items_small.png) -150px -502px no-repeat;
  @extend %icon_small;
}

.nightstick_48 {
  background: url(../assets/items_small.png) -200px -502px no-repeat;
  @extend %icon_small;
}

.nightsword_48 {
  background: url(../assets/items_small.png) -250px -502px no-repeat;
  @extend %icon_small;
}

.nitre_48 {
  background: url(../assets/items_small.png) -300px -502px no-repeat;
  @extend %icon_small;
}

.onemanband_48 {
  background: url(../assets/items_small.png) -350px -502px no-repeat;
  @extend %icon_small;
}

.orangeamulet_48 {
  background: url(../assets/items_small.png) -400px -502px no-repeat;
  @extend %icon_small;
}

.orangegem_48 {
  background: url(../assets/items_small.png) -450px -502px no-repeat;
  @extend %icon_small;
}

.orangestaff_48 {
  background: url(../assets/items_small.png) -500px -502px no-repeat;
  @extend %icon_small;
}

.panflute_48 {
  background: url(../assets/items_small.png) -550px -502px no-repeat;
  @extend %icon_small;
}

.papyrus_48 {
  background: url(../assets/items_small.png) -600px -502px no-repeat;
  @extend %icon_small;
}

.perogies_48 {
  background: url(../assets/items_small.png) -650px -502px no-repeat;
  @extend %icon_small;
}

.petals_48 {
  background: url(../assets/items_small.png) -700px -502px no-repeat;
  @extend %icon_small;
}

.petals_evil_48 {
  background: url(../assets/items_small.png) -750px -502px no-repeat;
  @extend %icon_small;
}

.pickaxe_48 {
  background: url(../assets/items_small.png) -800px -502px no-repeat;
  @extend %icon_small;
}

.piggyback_48 {
  background: url(../assets/items_small.png) -850px -502px no-repeat;
  @extend %icon_small;
}

.pighouse_48 {
  background: url(../assets/items_small.png) -900px -502px no-repeat;
  @extend %icon_small;
}

.pigskin_48 {
  background: url(../assets/items_small.png) -950px -502px no-repeat;
  @extend %icon_small;
}

.pinecone_48 {
  background: url(../assets/items_small.png) -1000px -502px no-repeat;
  @extend %icon_small;
}

.pitchfork_48 {
  background: url(../assets/items_small.png) 0px -552px no-repeat;
  @extend %icon_small;
}

.plantmeat_48 {
  background: url(../assets/items_small.png) -50px -552px no-repeat;
  @extend %icon_small;
}

.pomegranate_48 {
  background: url(../assets/items_small.png) -100px -552px no-repeat;
  @extend %icon_small;
}

.pomegranate_cooked_48 {
  background: url(../assets/items_small.png) -150px -552px no-repeat;
  @extend %icon_small;
}

.pomegranate_seeds_48 {
  background: url(../assets/items_small.png) -200px -552px no-repeat;
  @extend %icon_small;
}

.pottedfern_48 {
  background: url(../assets/items_small.png) -250px -552px no-repeat;
  @extend %icon_small;
}

.powcake_48 {
  background: url(../assets/items_small.png) -300px -552px no-repeat;
  @extend %icon_small;
}

.pumpkin_48 {
  background: url(../assets/items_small.png) -350px -552px no-repeat;
  @extend %icon_small;
}

.pumpkin_cooked_48 {
  background: url(../assets/items_small.png) -400px -552px no-repeat;
  @extend %icon_small;
}

.pumpkin_lantern_48 {
  background: url(../assets/items_small.png) -450px -552px no-repeat;
  @extend %icon_small;
}

.pumpkin_seeds_48 {
  background: url(../assets/items_small.png) -500px -552px no-repeat;
  @extend %icon_small;
}

.pumpkincookie_48 {
  background: url(../assets/items_small.png) -550px -552px no-repeat;
  @extend %icon_small;
}

.purpleamulet_48 {
  background: url(../assets/items_small.png) -600px -552px no-repeat;
  @extend %icon_small;
}

.purplegem_48 {
  background: url(../assets/items_small.png) -650px -552px no-repeat;
  @extend %icon_small;
}

.rabbit_48 {
  background: url(../assets/items_small.png) -700px -552px no-repeat;
  @extend %icon_small;
}

.rabbit_beardling_48 {
  background: url(../assets/items_small.png) -399px -902px no-repeat;
  width: 41px;
  height: 41px;
}

.rabbithouse_48 {
  background: url(../assets/items_small.png) -750px -552px no-repeat;
  @extend %icon_small;
}

.raincoat_48 {
  background: url(../assets/items_small.png) -800px -552px no-repeat;
  @extend %icon_small;
}

.rainhat_48 {
  background: url(../assets/items_small.png) -850px -552px no-repeat;
  @extend %icon_small;
}

.rainometer_48 {
  background: url(../assets/items_small.png) -900px -552px no-repeat;
  @extend %icon_small;
}

.ratatouille_48 {
  background: url(../assets/items_small.png) -950px -552px no-repeat;
  @extend %icon_small;
}

.razor_48 {
  background: url(../assets/items_small.png) -1000px -552px no-repeat;
  @extend %icon_small;
}

.red_cap_48 {
  background: url(../assets/items_small.png) 0px -602px no-repeat;
  @extend %icon_small;
}

.red_cap_cooked_48 {
  background: url(../assets/items_small.png) -50px -602px no-repeat;
  @extend %icon_small;
}

.redgem_48 {
  background: url(../assets/items_small.png) -100px -602px no-repeat;
  @extend %icon_small;
}

.reflectivevest_48 {
  background: url(../assets/items_small.png) -150px -602px no-repeat;
  @extend %icon_small;
}

.researchlab2_48 {
  background: url(../assets/items_small.png) -200px -602px no-repeat;
  @extend %icon_small;
}

.researchlab3_48 {
  background: url(../assets/items_small.png) -250px -602px no-repeat;
  @extend %icon_small;
}

.researchlab4_48 {
  background: url(../assets/items_small.png) -300px -602px no-repeat;
  @extend %icon_small;
}

.researchlab_48 {
  background: url(../assets/items_small.png) -350px -602px no-repeat;
  @extend %icon_small;
}

.resurrectionstatue_48 {
  background: url(../assets/items_small.png) -400px -602px no-repeat;
  @extend %icon_small;
}

.robin_48 {
  background: url(../assets/items_small.png) -450px -602px no-repeat;
  @extend %icon_small;
}

.robin_winter_48 {
  background: url(../assets/items_small.png) -500px -602px no-repeat;
  @extend %icon_small;
}

.rocks_48 {
  background: url(../assets/items_small.png) -550px -602px no-repeat;
  @extend %icon_small;
}

.rope_48 {
  background: url(../assets/items_small.png) -600px -602px no-repeat;
  @extend %icon_small;
}

.rottenegg_48 {
  background: url(../assets/items_small.png) -650px -602px no-repeat;
  @extend %icon_small;
}

.ruins_bat_48 {
  background: url(../assets/items_small.png) -700px -602px no-repeat;
  @extend %icon_small;
}

.ruinshat_48 {
  background: url(../assets/items_small.png) -750px -602px no-repeat;
  @extend %icon_small;
}

.sanity_48 {
  background: url(../assets/items_small.png) -100px 0px no-repeat;
  width: 48px;
  height: 50px;
}

.sapling_48 {
  background: url(../assets/items_small.png) -800px -602px no-repeat;
  @extend %icon_small;
}

.seeds_48 {
  background: url(../assets/items_small.png) -850px -602px no-repeat;
  @extend %icon_small;
}

.seeds_cooked_48 {
  background: url(../assets/items_small.png) -900px -602px no-repeat;
  @extend %icon_small;
}

.sewing_kit_48 {
  background: url(../assets/items_small.png) -950px -602px no-repeat;
  @extend %icon_small;
}

.shovel_48 {
  background: url(../assets/items_small.png) -1000px -602px no-repeat;
  @extend %icon_small;
}

.siestahut_48 {
  background: url(../assets/items_small.png) 0px -652px no-repeat;
  @extend %icon_small;
}

.silk_48 {
  background: url(../assets/items_small.png) -50px -652px no-repeat;
  @extend %icon_small;
}

.slow_farmplot_48 {
  background: url(../assets/items_small.png) -100px -652px no-repeat;
  @extend %icon_small;
}

.slurper_pelt_48 {
  background: url(../assets/items_small.png) -150px -652px no-repeat;
  @extend %icon_small;
}

.slurtle_shellpieces_48 {
  background: url(../assets/items_small.png) -200px -652px no-repeat;
  @extend %icon_small;
}

.slurtlehat_48 {
  background: url(../assets/items_small.png) -250px -652px no-repeat;
  @extend %icon_small;
}

.slurtleslime_48 {
  background: url(../assets/items_small.png) -300px -652px no-repeat;
  @extend %icon_small;
}

.smallmeat_48 {
  background: url(../assets/items_small.png) -350px -652px no-repeat;
  @extend %icon_small;
}

.smallmeat_dried_48 {
  background: url(../assets/items_small.png) -400px -652px no-repeat;
  @extend %icon_small;
}

.spear_48 {
  background: url(../assets/items_small.png) -450px -652px no-repeat;
  @extend %icon_small;
}

.spear_wathgrithr_48 {
  background: url(../assets/items_small.png) -500px -652px no-repeat;
  @extend %icon_small;
}

.spidereggsack_48 {
  background: url(../assets/items_small.png) -550px -652px no-repeat;
  @extend %icon_small;
}

.spidergland_48 {
  background: url(../assets/items_small.png) -600px -652px no-repeat;
  @extend %icon_small;
}

.spiderhat_48 {
  background: url(../assets/items_small.png) -650px -652px no-repeat;
  @extend %icon_small;
}

.spoiled_food_48 {
  background: url(../assets/items_small.png) -700px -652px no-repeat;
  @extend %icon_small;
}

.staff_tornado_48 {
  background: url(../assets/items_small.png) -750px -652px no-repeat;
  @extend %icon_small;
}

.stinger_48 {
  background: url(../assets/items_small.png) -800px -652px no-repeat;
  @extend %icon_small;
}

.strawhat_48 {
  background: url(../assets/items_small.png) -850px -652px no-repeat;
  @extend %icon_small;
}

.stuffedeggplant_48 {
  background: url(../assets/items_small.png) -900px -652px no-repeat;
  @extend %icon_small;
}

.sweatervest_48 {
  background: url(../assets/items_small.png) -950px -652px no-repeat;
  @extend %icon_small;
}

.taffy_48 {
  background: url(../assets/items_small.png) -1000px -652px no-repeat;
  @extend %icon_small;
}

.tallbirdegg_48 {
  background: url(../assets/items_small.png) 0px -702px no-repeat;
  @extend %icon_small;
}

.tallbirdegg_cooked_48 {
  background: url(../assets/items_small.png) -50px -702px no-repeat;
  @extend %icon_small;
}

.teleportato_box_48 {
  background: url(../assets/items_small.png) -100px -702px no-repeat;
  @extend %icon_small;
}

.teleportato_crank_48 {
  background: url(../assets/items_small.png) -150px -702px no-repeat;
  @extend %icon_small;
}

.teleportato_potato_48 {
  background: url(../assets/items_small.png) -200px -702px no-repeat;
  @extend %icon_small;
}

.teleportato_ring_48 {
  background: url(../assets/items_small.png) -250px -702px no-repeat;
  @extend %icon_small;
}

.telestaff_48 {
  background: url(../assets/items_small.png) -300px -702px no-repeat;
  @extend %icon_small;
}

.tent_48 {
  background: url(../assets/items_small.png) -350px -702px no-repeat;
  @extend %icon_small;
}

.tentaclespike_48 {
  background: url(../assets/items_small.png) -400px -702px no-repeat;
  @extend %icon_small;
}

.tentaclespots_48 {
  background: url(../assets/items_small.png) -450px -702px no-repeat;
  @extend %icon_small;
}

.thulecite_48 {
  background: url(../assets/items_small.png) -500px -702px no-repeat;
  @extend %icon_small;
}

.thulecite_pieces_48 {
  background: url(../assets/items_small.png) -550px -702px no-repeat;
  @extend %icon_small;
}

.tophat_48 {
  background: url(../assets/items_small.png) -600px -702px no-repeat;
  @extend %icon_small;
}

.torch_48 {
  background: url(../assets/items_small.png) -650px -702px no-repeat;
  @extend %icon_small;
}

.trailmix_48 {
  background: url(../assets/items_small.png) -700px -702px no-repeat;
  @extend %icon_small;
}

.transistor_48 {
  background: url(../assets/items_small.png) -750px -702px no-repeat;
  @extend %icon_small;
}

.trap_48 {
  background: url(../assets/items_small.png) -800px -702px no-repeat;
  @extend %icon_small;
}

.trap_teeth_48 {
  background: url(../assets/items_small.png) -850px -702px no-repeat;
  @extend %icon_small;
}

.treasurechest_48 {
  background: url(../assets/items_small.png) -900px -702px no-repeat;
  @extend %icon_small;
}

.trinket_10_48 {
  background: url(../assets/items_small.png) -950px -702px no-repeat;
  @extend %icon_small;
}

.trinket_11_48 {
  background: url(../assets/items_small.png) -1000px -702px no-repeat;
  @extend %icon_small;
}

.trinket_12_48 {
  background: url(../assets/items_small.png) 0px -752px no-repeat;
  @extend %icon_small;
}

.trinket_1_48 {
  background: url(../assets/items_small.png) -50px -752px no-repeat;
  @extend %icon_small;
}

.trinket_2_48 {
  background: url(../assets/items_small.png) -100px -752px no-repeat;
  @extend %icon_small;
}

.trinket_3_48 {
  background: url(../assets/items_small.png) -150px -752px no-repeat;
  @extend %icon_small;
}

.trinket_4_48 {
  background: url(../assets/items_small.png) -200px -752px no-repeat;
  @extend %icon_small;
}

.trinket_5_48 {
  background: url(../assets/items_small.png) -250px -752px no-repeat;
  @extend %icon_small;
}

.trinket_6_48 {
  background: url(../assets/items_small.png) -300px -752px no-repeat;
  @extend %icon_small;
}

.trinket_7_48 {
  background: url(../assets/items_small.png) -350px -752px no-repeat;
  @extend %icon_small;
}

.trinket_8_48 {
  background: url(../assets/items_small.png) -400px -752px no-repeat;
  @extend %icon_small;
}

.trinket_9_48 {
  background: url(../assets/items_small.png) -450px -752px no-repeat;
  @extend %icon_small;
}

.trunk_cooked_48 {
  background: url(../assets/items_small.png) -500px -752px no-repeat;
  @extend %icon_small;
}

.trunk_summer_48 {
  background: url(../assets/items_small.png) -550px -752px no-repeat;
  @extend %icon_small;
}

.trunk_winter_48 {
  background: url(../assets/items_small.png) -600px -752px no-repeat;
  @extend %icon_small;
}

.trunkvest_summer_48 {
  background: url(../assets/items_small.png) -650px -752px no-repeat;
  @extend %icon_small;
}

.trunkvest_winter_48 {
  background: url(../assets/items_small.png) -700px -752px no-repeat;
  @extend %icon_small;
}

.turf_carpetfloor_48 {
  background: url(../assets/items_small.png) -750px -752px no-repeat;
  @extend %icon_small;
}

.turf_cave_48 {
  background: url(../assets/items_small.png) -800px -752px no-repeat;
  @extend %icon_small;
}

.turf_checkerfloor_48 {
  background: url(../assets/items_small.png) -850px -752px no-repeat;
  @extend %icon_small;
}

.turf_deciduous_48 {
  background: url(../assets/items_small.png) -900px -752px no-repeat;
  @extend %icon_small;
}

.turf_desertdirt_48 {
  background: url(../assets/items_small.png) -950px -752px no-repeat;
  @extend %icon_small;
}

.turf_forest_48 {
  background: url(../assets/items_small.png) -1000px -752px no-repeat;
  @extend %icon_small;
}

.turf_fungus_48 {
  background: url(../assets/items_small.png) 0px -802px no-repeat;
  @extend %icon_small;
}

.turf_fungus_green_48 {
  background: url(../assets/items_small.png) -50px -802px no-repeat;
  @extend %icon_small;
}

.turf_fungus_red_48 {
  background: url(../assets/items_small.png) -100px -802px no-repeat;
  @extend %icon_small;
}

.turf_grass_48 {
  background: url(../assets/items_small.png) -150px -802px no-repeat;
  @extend %icon_small;
}

.turf_marsh_48 {
  background: url(../assets/items_small.png) -200px -802px no-repeat;
  @extend %icon_small;
}

.turf_mud_48 {
  background: url(../assets/items_small.png) -250px -802px no-repeat;
  @extend %icon_small;
}

.turf_road_48 {
  background: url(../assets/items_small.png) -300px -802px no-repeat;
  @extend %icon_small;
}

.turf_rocky_48 {
  background: url(../assets/items_small.png) -350px -802px no-repeat;
  @extend %icon_small;
}

.turf_savanna_48 {
  background: url(../assets/items_small.png) -400px -802px no-repeat;
  @extend %icon_small;
}

.turf_sinkhole_48 {
  background: url(../assets/items_small.png) -450px -802px no-repeat;
  @extend %icon_small;
}

.turf_underrock_48 {
  background: url(../assets/items_small.png) -500px -802px no-repeat;
  @extend %icon_small;
}

.turf_woodfloor_48 {
  background: url(../assets/items_small.png) -550px -802px no-repeat;
  @extend %icon_small;
}

.turkeydinner_48 {
  background: url(../assets/items_small.png) -600px -802px no-repeat;
  @extend %icon_small;
}

.twigs_48 {
  background: url(../assets/items_small.png) -650px -802px no-repeat;
  @extend %icon_small;
}

.umbrella_48 {
  background: url(../assets/items_small.png) -700px -802px no-repeat;
  @extend %icon_small;
}

.unagi_48 {
  background: url(../assets/items_small.png) -750px -802px no-repeat;
  @extend %icon_small;
}

.waffles_48 {
  background: url(../assets/items_small.png) -800px -802px no-repeat;
  @extend %icon_small;
}

.wall_hay_item_48 {
  background: url(../assets/items_small.png) -850px -802px no-repeat;
  @extend %icon_small;
}

.wall_ruins_item_48 {
  background: url(../assets/items_small.png) -900px -802px no-repeat;
  @extend %icon_small;
}

.wall_stone_item_48 {
  background: url(../assets/items_small.png) -950px -802px no-repeat;
  @extend %icon_small;
}

.wall_wood_item_48 {
  background: url(../assets/items_small.png) -1000px -802px no-repeat;
  @extend %icon_small;
}

.walrus_tusk_48 {
  background: url(../assets/items_small.png) 0px -852px no-repeat;
  @extend %icon_small;
}

.walrushat_48 {
  background: url(../assets/items_small.png) -50px -852px no-repeat;
  @extend %icon_small;
}

.watermelon_48 {
  background: url(../assets/items_small.png) -100px -852px no-repeat;
  @extend %icon_small;
}

.watermelon_cooked_48 {
  background: url(../assets/items_small.png) -150px -852px no-repeat;
  @extend %icon_small;
}

.watermelon_seeds_48 {
  background: url(../assets/items_small.png) -200px -852px no-repeat;
  @extend %icon_small;
}

.watermelonhat_48 {
  background: url(../assets/items_small.png) -250px -852px no-repeat;
  @extend %icon_small;
}

.watermelonicle_48 {
  background: url(../assets/items_small.png) -300px -852px no-repeat;
  @extend %icon_small;
}

.wathgrithrhat_48 {
  background: url(../assets/items_small.png) -350px -852px no-repeat;
  @extend %icon_small;
}

.waxwell_48 {
  background: url(../assets/items_small.png) -400px -852px no-repeat;
  @extend %icon_small;
}

.waxwelljournal_48 {
  background: url(../assets/items_small.png) -450px -852px no-repeat;
  @extend %icon_small;
}

.webber_48 {
  background: url(../assets/items_small.png) -500px -852px no-repeat;
  @extend %icon_small;
}

.webberskull_48 {
  background: url(../assets/items_small.png) -550px -852px no-repeat;
  @extend %icon_small;
}

.wendy_48 {
  background: url(../assets/items_small.png) -600px -852px no-repeat;
  @extend %icon_small;
}

.wes_48 {
  background: url(../assets/items_small.png) -650px -852px no-repeat;
  @extend %icon_small;
}

.wetgoop_48 {
  background: url(../assets/items_small.png) -700px -852px no-repeat;
  @extend %icon_small;
}

.wickerbottom_48 {
  background: url(../assets/items_small.png) -750px -852px no-repeat;
  @extend %icon_small;
}

.wigfrid_48 {
  background: url(../assets/items_small.png) -800px -852px no-repeat;
  @extend %icon_small;
}

.willow_48 {
  background: url(../assets/items_small.png) -850px -852px no-repeat;
  @extend %icon_small;
}

.wilson_48 {
  background: url(../assets/items_small.png) -900px -852px no-repeat;
  @extend %icon_small;
}

.winterhat_48 {
  background: url(../assets/items_small.png) -950px -852px no-repeat;
  @extend %icon_small;
}

.winterometer_48 {
  background: url(../assets/items_small.png) -1000px -852px no-repeat;
  @extend %icon_small;
}

.wolfgang_48 {
  background: url(../assets/items_small.png) 0px -902px no-repeat;
  @extend %icon_small;
}

.woodie_48 {
  background: url(../assets/items_small.png) -50px -902px no-repeat;
  @extend %icon_small;
}

.wormlight_48 {
  background: url(../assets/items_small.png) -100px -902px no-repeat;
  @extend %icon_small;
}

.wx-78_48 {
  background: url(../assets/items_small.png) -150px -902px no-repeat;
  @extend %icon_small;
}

.yellowamulet_48 {
  background: url(../assets/items_small.png) -200px -902px no-repeat;
  @extend %icon_small;
}

.yellowgem_48 {
  background: url(../assets/items_small.png) -250px -902px no-repeat;
  @extend %icon_small;
}

.yellowstaff_48 {
  background: url(../assets/items_small.png) -300px -902px no-repeat;
  @extend %icon_small;
}
