%icon_small {
  width: 32px;
  height: 32px;
}
.abigail_flower_32 {
  background: url(../assets/items_small.png) -35px 0px no-repeat;
  @extend %icon_small;
}

.acorn_32 {
  background: url(../assets/items_small.png) 0px -34px no-repeat;
  @extend %icon_small;
}

.acorn_cooked_32 {
  background: url(../assets/items_small.png) -34px -34px no-repeat;
  @extend %icon_small;
}

.amulet_32 {
  background: url(../assets/items_small.png) -69px 0px no-repeat;
  @extend %icon_small;
}

.armor_sanity_32 {
  background: url(../assets/items_small.png) -69px -34px no-repeat;
  @extend %icon_small;
}

.armor_slurper_32 {
  background: url(../assets/items_small.png) 0px -68px no-repeat;
  @extend %icon_small;
}

.armordragonfly_32 {
  background: url(../assets/items_small.png) -34px -68px no-repeat;
  @extend %icon_small;
}

.armorgrass_32 {
  background: url(../assets/items_small.png) -68px -68px no-repeat;
  @extend %icon_small;
}

.armormarble_32 {
  background: url(../assets/items_small.png) -103px 0px no-repeat;
  @extend %icon_small;
}

.armorruins_32 {
  background: url(../assets/items_small.png) -103px -34px no-repeat;
  @extend %icon_small;
}

.armorslurper_32 {
  background: url(../assets/items_small.png) -103px -68px no-repeat;
  @extend %icon_small;
}

.armorsnurtleshell_32 {
  background: url(../assets/items_small.png) 0px -102px no-repeat;
  @extend %icon_small;
}

.armorwood_32 {
  background: url(../assets/items_small.png) -34px -102px no-repeat;
  @extend %icon_small;
}

.ash_32 {
  background: url(../assets/items_small.png) -68px -102px no-repeat;
  @extend %icon_small;
}

.axe_32 {
  background: url(../assets/items_small.png) -102px -102px no-repeat;
  @extend %icon_small;
}

.backpack_32 {
  background: url(../assets/items_small.png) -137px 0px no-repeat;
  @extend %icon_small;
}

.baconeggs_32 {
  background: url(../assets/items_small.png) -137px -34px no-repeat;
  @extend %icon_small;
}

.balloons_empty_32 {
  background: url(../assets/items_small.png) -137px -68px no-repeat;
  @extend %icon_small;
}

.bandage_32 {
  background: url(../assets/items_small.png) -137px -102px no-repeat;
  @extend %icon_small;
}

.batbat_32 {
  background: url(../assets/items_small.png) 0px -136px no-repeat;
  @extend %icon_small;
}

.batwing_32 {
  background: url(../assets/items_small.png) -34px -136px no-repeat;
  @extend %icon_small;
}

.batwing_cooked_32 {
  background: url(../assets/items_small.png) -68px -136px no-repeat;
  @extend %icon_small;
}

.beardhair_32 {
  background: url(../assets/items_small.png) -102px -136px no-repeat;
  @extend %icon_small;
}

.bearger_fur_32 {
  background: url(../assets/items_small.png) -136px -136px no-repeat;
  @extend %icon_small;
}

.beargervest_32 {
  background: url(../assets/items_small.png) -171px 0px no-repeat;
  @extend %icon_small;
}

.bedroll_furry_32 {
  background: url(../assets/items_small.png) -171px -34px no-repeat;
  @extend %icon_small;
}

.bedroll_straw_32 {
  background: url(../assets/items_small.png) -171px -68px no-repeat;
  @extend %icon_small;
}

.bee_32 {
  background: url(../assets/items_small.png) -171px -102px no-repeat;
  @extend %icon_small;
}

.beebox_32 {
  background: url(../assets/items_small.png) -171px -136px no-repeat;
  @extend %icon_small;
}

.beefalohat_32 {
  background: url(../assets/items_small.png) 0px -170px no-repeat;
  @extend %icon_small;
}

.beefalowool_32 {
  background: url(../assets/items_small.png) -34px -170px no-repeat;
  @extend %icon_small;
}

.beehat_32 {
  background: url(../assets/items_small.png) -68px -170px no-repeat;
  @extend %icon_small;
}

.beemine_32 {
  background: url(../assets/items_small.png) -102px -170px no-repeat;
  @extend %icon_small;
}

.bell_32 {
  background: url(../assets/items_small.png) -136px -170px no-repeat;
  @extend %icon_small;
}

.berries_32 {
  background: url(../assets/items_small.png) -170px -170px no-repeat;
  @extend %icon_small;
}

.berries_cooked_32 {
  background: url(../assets/items_small.png) -205px 0px no-repeat;
  @extend %icon_small;
}

.bird_egg_32 {
  background: url(../assets/items_small.png) -205px -34px no-repeat;
  @extend %icon_small;
}

.bird_egg_cooked_32 {
  background: url(../assets/items_small.png) -205px -68px no-repeat;
  @extend %icon_small;
}

.birdcage_32 {
  background: url(../assets/items_small.png) -205px -102px no-repeat;
  @extend %icon_small;
}

.birdtrap_32 {
  background: url(../assets/items_small.png) -205px -136px no-repeat;
  @extend %icon_small;
}

.blowdart_fire_32 {
  background: url(../assets/items_small.png) -205px -170px no-repeat;
  @extend %icon_small;
}

.blowdart_pipe_32 {
  background: url(../assets/items_small.png) 0px -204px no-repeat;
  @extend %icon_small;
}

.blowdart_sleep_32 {
  background: url(../assets/items_small.png) -34px -204px no-repeat;
  @extend %icon_small;
}

.blue_cap_32 {
  background: url(../assets/items_small.png) -68px -204px no-repeat;
  @extend %icon_small;
}

.blue_cap_cooked_32 {
  background: url(../assets/items_small.png) -102px -204px no-repeat;
  @extend %icon_small;
}

.blueamulet_32 {
  background: url(../assets/items_small.png) -136px -204px no-repeat;
  @extend %icon_small;
}

.bluegem_32 {
  background: url(../assets/items_small.png) -170px -204px no-repeat;
  @extend %icon_small;
}

.blueprint_32 {
  background: url(../assets/items_small.png) -204px -204px no-repeat;
  @extend %icon_small;
}

.boards_32 {
  background: url(../assets/items_small.png) -239px 0px no-repeat;
  @extend %icon_small;
}

.boneshard_32 {
  background: url(../assets/items_small.png) -239px -34px no-repeat;
  @extend %icon_small;
}

.bonestew_32 {
  background: url(../assets/items_small.png) -239px -68px no-repeat;
  @extend %icon_small;
}

.book_birds_32 {
  background: url(../assets/items_small.png) -239px -102px no-repeat;
  @extend %icon_small;
}

.book_brimstone_32 {
  background: url(../assets/items_small.png) -239px -136px no-repeat;
  @extend %icon_small;
}

.book_gardening_32 {
  background: url(../assets/items_small.png) -239px -170px no-repeat;
  @extend %icon_small;
}

.book_sleep_32 {
  background: url(../assets/items_small.png) -239px -204px no-repeat;
  @extend %icon_small;
}

.book_tentacles_32 {
  background: url(../assets/items_small.png) 0px -238px no-repeat;
  @extend %icon_small;
}

.boomerang_32 {
  background: url(../assets/items_small.png) -34px -238px no-repeat;
  @extend %icon_small;
}

.bugnet_32 {
  background: url(../assets/items_small.png) -68px -238px no-repeat;
  @extend %icon_small;
}

.bushhat_32 {
  background: url(../assets/items_small.png) -102px -238px no-repeat;
  @extend %icon_small;
}

.butter_32 {
  background: url(../assets/items_small.png) -136px -238px no-repeat;
  @extend %icon_small;
}

.butterfly_32 {
  background: url(../assets/items_small.png) -170px -238px no-repeat;
  @extend %icon_small;
}

.butterflymuffin_32 {
  background: url(../assets/items_small.png) -204px -238px no-repeat;
  @extend %icon_small;
}

.butterflywings_32 {
  background: url(../assets/items_small.png) -238px -238px no-repeat;
  @extend %icon_small;
}

.cactus_flower_32 {
  background: url(../assets/items_small.png) -273px 0px no-repeat;
  @extend %icon_small;
}

.cactus_meat_32 {
  background: url(../assets/items_small.png) -273px -34px no-repeat;
  @extend %icon_small;
}

.cactus_meat_cooked_32 {
  background: url(../assets/items_small.png) -273px -68px no-repeat;
  @extend %icon_small;
}

.campfire_32 {
  background: url(../assets/items_small.png) -273px -102px no-repeat;
  @extend %icon_small;
}

.cane_32 {
  background: url(../assets/items_small.png) -273px -136px no-repeat;
  @extend %icon_small;
}

.carrot_32 {
  background: url(../assets/items_small.png) -273px -170px no-repeat;
  @extend %icon_small;
}

.carrot_cooked_32 {
  background: url(../assets/items_small.png) -273px -204px no-repeat;
  @extend %icon_small;
}

.carrot_seeds_32 {
  background: url(../assets/items_small.png) -273px -238px no-repeat;
  @extend %icon_small;
}

.catcoonhat_32 {
  background: url(../assets/items_small.png) 0px -272px no-repeat;
  @extend %icon_small;
}

.cave_banana_32 {
  background: url(../assets/items_small.png) -34px -272px no-repeat;
  @extend %icon_small;
}

.cave_banana_cooked_32 {
  background: url(../assets/items_small.png) -68px -272px no-repeat;
  @extend %icon_small;
}

.charcoal_32 {
  background: url(../assets/items_small.png) -102px -272px no-repeat;
  @extend %icon_small;
}

.chester_eyebone_32 {
  background: url(../assets/items_small.png) -136px -272px no-repeat;
  @extend %icon_small;
}

.compass_32 {
  background: url(../assets/items_small.png) -170px -272px no-repeat;
  @extend %icon_small;
}

.cookedmandrake_32 {
  background: url(../assets/items_small.png) -204px -272px no-repeat;
  @extend %icon_small;
}

.cookedmonstermeat_32 {
  background: url(../assets/items_small.png) -238px -272px no-repeat;
  @extend %icon_small;
}

.cookedsmallmeat_32 {
  background: url(../assets/items_small.png) -272px -272px no-repeat;
  @extend %icon_small;
}

.cookpot_32 {
  background: url(../assets/items_small.png) -307px 0px no-repeat;
  @extend %icon_small;
}

.coontail_32 {
  background: url(../assets/items_small.png) -307px -34px no-repeat;
  @extend %icon_small;
}

.corn_32 {
  background: url(../assets/items_small.png) -307px -68px no-repeat;
  @extend %icon_small;
}

.corn_cooked_32 {
  background: url(../assets/items_small.png) -307px -102px no-repeat;
  @extend %icon_small;
}

.corn_seeds_32 {
  background: url(../assets/items_small.png) -307px -136px no-repeat;
  @extend %icon_small;
}

.crow_32 {
  background: url(../assets/items_small.png) -307px -170px no-repeat;
  @extend %icon_small;
}

.cutgrass_32 {
  background: url(../assets/items_small.png) -307px -204px no-repeat;
  @extend %icon_small;
}

.cutlichen_32 {
  background: url(../assets/items_small.png) -307px -238px no-repeat;
  @extend %icon_small;
}

.cutreeds_32 {
  background: url(../assets/items_small.png) -307px -272px no-repeat;
  @extend %icon_small;
}

.cutstone_32 {
  background: url(../assets/items_small.png) 0px -306px no-repeat;
  @extend %icon_small;
}

.deerclops_eyeball_32 {
  background: url(../assets/items_small.png) -34px -306px no-repeat;
  @extend %icon_small;
}

.diviningrod_32 {
  background: url(../assets/items_small.png) -68px -306px no-repeat;
  @extend %icon_small;
}

.dragon_scales_32 {
  background: url(../assets/items_small.png) -102px -306px no-repeat;
  @extend %icon_small;
}

.dragonflychest_32 {
  background: url(../assets/items_small.png) -136px -306px no-repeat;
  @extend %icon_small;
}

.dragonfruit_32 {
  background: url(../assets/items_small.png) -170px -306px no-repeat;
  @extend %icon_small;
}

.dragonfruit_cooked_32 {
  background: url(../assets/items_small.png) -204px -306px no-repeat;
  @extend %icon_small;
}

.dragonfruit_seeds_32 {
  background: url(../assets/items_small.png) -238px -306px no-repeat;
  @extend %icon_small;
}

.dragonpie_32 {
  background: url(../assets/items_small.png) -272px -306px no-repeat;
  @extend %icon_small;
}

.drumstick_32 {
  background: url(../assets/items_small.png) -306px -306px no-repeat;
  @extend %icon_small;
}

.drumstick_cooked_32 {
  background: url(../assets/items_small.png) -341px 0px no-repeat;
  @extend %icon_small;
}

.dug_berrybush2_32 {
  background: url(../assets/items_small.png) -341px -68px no-repeat;
  @extend %icon_small;
}

.dug_berrybush_32 {
  background: url(../assets/items_small.png) -341px -34px no-repeat;
  @extend %icon_small;
}

.dug_grass_32 {
  background: url(../assets/items_small.png) -341px -102px no-repeat;
  @extend %icon_small;
}

.dug_marsh_bush_32 {
  background: url(../assets/items_small.png) -341px -136px no-repeat;
  @extend %icon_small;
}

.durian_32 {
  background: url(../assets/items_small.png) -341px -170px no-repeat;
  @extend %icon_small;
}

.durian_cooked_32 {
  background: url(../assets/items_small.png) -341px -204px no-repeat;
  @extend %icon_small;
}

.durian_seeds_32 {
  background: url(../assets/items_small.png) -341px -238px no-repeat;
  @extend %icon_small;
}

.earmuffshat_32 {
  background: url(../assets/items_small.png) -341px -272px no-repeat;
  @extend %icon_small;
}

.eel_32 {
  background: url(../assets/items_small.png) -341px -306px no-repeat;
  @extend %icon_small;
}

.eel_cooked_32 {
  background: url(../assets/items_small.png) 0px -340px no-repeat;
  @extend %icon_small;
}

.eggplant_32 {
  background: url(../assets/items_small.png) -34px -340px no-repeat;
  @extend %icon_small;
}

.eggplant_cooked_32 {
  background: url(../assets/items_small.png) -68px -340px no-repeat;
  @extend %icon_small;
}

.eggplant_seeds_32 {
  background: url(../assets/items_small.png) -102px -340px no-repeat;
  @extend %icon_small;
}

.eyebrellahat_32 {
  background: url(../assets/items_small.png) -136px -340px no-repeat;
  @extend %icon_small;
}

.eyeturret_item_32 {
  background: url(../assets/items_small.png) -170px -340px no-repeat;
  @extend %icon_small;
}

.fast_farmplot_32 {
  background: url(../assets/items_small.png) -204px -340px no-repeat;
  @extend %icon_small;
}

.feather_crow_32 {
  background: url(../assets/items_small.png) -238px -340px no-repeat;
  @extend %icon_small;
}

.feather_robin_32 {
  background: url(../assets/items_small.png) -272px -340px no-repeat;
  @extend %icon_small;
}

.feather_robin_winter_32 {
  background: url(../assets/items_small.png) -306px -340px no-repeat;
  @extend %icon_small;
}

.featherfan_32 {
  background: url(../assets/items_small.png) -340px -340px no-repeat;
  @extend %icon_small;
}

.featherhat_32 {
  background: url(../assets/items_small.png) -375px 0px no-repeat;
  @extend %icon_small;
}

.fertilizer_32 {
  background: url(../assets/items_small.png) -375px -34px no-repeat;
  @extend %icon_small;
}

.fireflies_32 {
  background: url(../assets/items_small.png) -375px -68px no-repeat;
  @extend %icon_small;
}

.firepit_32 {
  background: url(../assets/items_small.png) -375px -102px no-repeat;
  @extend %icon_small;
}

.firestaff_32 {
  background: url(../assets/items_small.png) -375px -136px no-repeat;
  @extend %icon_small;
}

.firesuppressor_32 {
  background: url(../assets/items_small.png) 0px 0px no-repeat;
  width: 33px;
  height: 32px;
}

.fish_32 {
  background: url(../assets/items_small.png) -375px -170px no-repeat;
  @extend %icon_small;
}

.fish_cooked_32 {
  background: url(../assets/items_small.png) -375px -204px no-repeat;
  @extend %icon_small;
}

.fishingrod_32 {
  background: url(../assets/items_small.png) -375px -238px no-repeat;
  @extend %icon_small;
}

.fishsticks_32 {
  background: url(../assets/items_small.png) -375px -272px no-repeat;
  @extend %icon_small;
}

.fishtacos_32 {
  background: url(../assets/items_small.png) -375px -306px no-repeat;
  @extend %icon_small;
}

.flint_32 {
  background: url(../assets/items_small.png) -375px -340px no-repeat;
  @extend %icon_small;
}

.flowerhat_32 {
  background: url(../assets/items_small.png) 0px -374px no-repeat;
  @extend %icon_small;
}

.flowersalad_32 {
  background: url(../assets/items_small.png) -34px -374px no-repeat;
  @extend %icon_small;
}

.foliage_32 {
  background: url(../assets/items_small.png) -68px -374px no-repeat;
  @extend %icon_small;
}

.footballhat_32 {
  background: url(../assets/items_small.png) -102px -374px no-repeat;
  @extend %icon_small;
}

.frogglebunwich_32 {
  background: url(../assets/items_small.png) -136px -374px no-repeat;
  @extend %icon_small;
}

.froglegs_32 {
  background: url(../assets/items_small.png) -170px -374px no-repeat;
  @extend %icon_small;
}

.froglegs_cooked_32 {
  background: url(../assets/items_small.png) -204px -374px no-repeat;
  @extend %icon_small;
}

.fruitmedley_32 {
  background: url(../assets/items_small.png) -238px -374px no-repeat;
  @extend %icon_small;
}

.gears_32 {
  background: url(../assets/items_small.png) -272px -374px no-repeat;
  @extend %icon_small;
}

.glommerflower_32 {
  background: url(../assets/items_small.png) -306px -374px no-repeat;
  @extend %icon_small;
}

.glommerfuel_32 {
  background: url(../assets/items_small.png) -340px -374px no-repeat;
  @extend %icon_small;
}

.glommerwings_32 {
  background: url(../assets/items_small.png) -374px -374px no-repeat;
  @extend %icon_small;
}

.goatmilk_32 {
  background: url(../assets/items_small.png) -409px 0px no-repeat;
  @extend %icon_small;
}

.goldenaxe_32 {
  background: url(../assets/items_small.png) -409px -34px no-repeat;
  @extend %icon_small;
}

.goldenpickaxe_32 {
  background: url(../assets/items_small.png) -409px -68px no-repeat;
  @extend %icon_small;
}

.goldenshovel_32 {
  background: url(../assets/items_small.png) -409px -102px no-repeat;
  @extend %icon_small;
}

.goldnugget_32 {
  background: url(../assets/items_small.png) -409px -136px no-repeat;
  @extend %icon_small;
}

.goose_feather_32 {
  background: url(../assets/items_small.png) -409px -170px no-repeat;
  @extend %icon_small;
}

.grass_umbrella_32 {
  background: url(../assets/items_small.png) -409px -204px no-repeat;
  @extend %icon_small;
}

.green_cap_32 {
  background: url(../assets/items_small.png) -409px -238px no-repeat;
  @extend %icon_small;
}

.green_cap_cooked_32 {
  background: url(../assets/items_small.png) -409px -272px no-repeat;
  @extend %icon_small;
}

.greenamulet_32 {
  background: url(../assets/items_small.png) -409px -306px no-repeat;
  @extend %icon_small;
}

.greengem_32 {
  background: url(../assets/items_small.png) -409px -340px no-repeat;
  @extend %icon_small;
}

.greenstaff_32 {
  background: url(../assets/items_small.png) -409px -374px no-repeat;
  @extend %icon_small;
}

.guacamole_32 {
  background: url(../assets/items_small.png) 0px -408px no-repeat;
  @extend %icon_small;
}

.guano_32 {
  background: url(../assets/items_small.png) -34px -408px no-repeat;
  @extend %icon_small;
}

.gunpowder_32 {
  background: url(../assets/items_small.png) -68px -408px no-repeat;
  @extend %icon_small;
}

.hambat_32 {
  background: url(../assets/items_small.png) -102px -408px no-repeat;
  @extend %icon_small;
}

.hammer_32 {
  background: url(../assets/items_small.png) -136px -408px no-repeat;
  @extend %icon_small;
}

.hawaiianshirt_32 {
  background: url(../assets/items_small.png) -170px -408px no-repeat;
  @extend %icon_small;
}

.healingsalve_32 {
  background: url(../assets/items_small.png) -204px -408px no-repeat;
  @extend %icon_small;
}

.heatrock_32 {
  background: url(../assets/items_small.png) -238px -408px no-repeat;
  @extend %icon_small;
}

.homesign_32 {
  background: url(../assets/items_small.png) -272px -408px no-repeat;
  @extend %icon_small;
}

.honey_32 {
  background: url(../assets/items_small.png) -306px -408px no-repeat;
  @extend %icon_small;
}

.honeycomb_32 {
  background: url(../assets/items_small.png) -340px -408px no-repeat;
  @extend %icon_small;
}

.honeyham_32 {
  background: url(../assets/items_small.png) -374px -408px no-repeat;
  @extend %icon_small;
}

.honeynuggets_32 {
  background: url(../assets/items_small.png) -408px -408px no-repeat;
  @extend %icon_small;
}

.horn_32 {
  background: url(../assets/items_small.png) -443px 0px no-repeat;
  @extend %icon_small;
}

.hotchili_32 {
  background: url(../assets/items_small.png) -443px -34px no-repeat;
  @extend %icon_small;
}

.houndstooth_32 {
  background: url(../assets/items_small.png) -443px -68px no-repeat;
  @extend %icon_small;
}

.ice_32 {
  background: url(../assets/items_small.png) -443px -102px no-repeat;
  @extend %icon_small;
}

.icebox_32 {
  background: url(../assets/items_small.png) -443px -136px no-repeat;
  @extend %icon_small;
}

.icecream_32 {
  background: url(../assets/items_small.png) -443px -170px no-repeat;
  @extend %icon_small;
}

.icehat_32 {
  background: url(../assets/items_small.png) -443px -204px no-repeat;
  @extend %icon_small;
}

.icepack_32 {
  background: url(../assets/items_small.png) -443px -238px no-repeat;
  @extend %icon_small;
}

.icestaff_32 {
  background: url(../assets/items_small.png) -443px -272px no-repeat;
  @extend %icon_small;
}

.jammypreserves_32 {
  background: url(../assets/items_small.png) -443px -306px no-repeat;
  @extend %icon_small;
}

.kabobs_32 {
  background: url(../assets/items_small.png) -443px -340px no-repeat;
  @extend %icon_small;
}

.killerbee_32 {
  background: url(../assets/items_small.png) -443px -374px no-repeat;
  @extend %icon_small;
}

.krampus_sack_32 {
  background: url(../assets/items_small.png) -443px -408px no-repeat;
  @extend %icon_small;
}

.lantern_32 {
  background: url(../assets/items_small.png) 0px -442px no-repeat;
  @extend %icon_small;
}

.lightbulb_32 {
  background: url(../assets/items_small.png) -34px -442px no-repeat;
  @extend %icon_small;
}

.lighter_32 {
  background: url(../assets/items_small.png) -68px -442px no-repeat;
  @extend %icon_small;
}

.lightning_rod_32 {
  background: url(../assets/items_small.png) -102px -442px no-repeat;
  @extend %icon_small;
}

.lightninggoathorn_32 {
  background: url(../assets/items_small.png) -136px -442px no-repeat;
  @extend %icon_small;
}

.livinglog_32 {
  background: url(../assets/items_small.png) -170px -442px no-repeat;
  @extend %icon_small;
}

.log_32 {
  background: url(../assets/items_small.png) -204px -442px no-repeat;
  @extend %icon_small;
}

.lucy_32 {
  background: url(../assets/items_small.png) -238px -442px no-repeat;
  @extend %icon_small;
}

.lureplantbulb_32 {
  background: url(../assets/items_small.png) -272px -442px no-repeat;
  @extend %icon_small;
}

.mandrake_32 {
  background: url(../assets/items_small.png) -306px -442px no-repeat;
  @extend %icon_small;
}

.mandrakesoup_32 {
  background: url(../assets/items_small.png) -340px -442px no-repeat;
  @extend %icon_small;
}

.manrabbit_tail_32 {
  background: url(../assets/items_small.png) -374px -442px no-repeat;
  @extend %icon_small;
}

.manure_32 {
  background: url(../assets/items_small.png) -408px -442px no-repeat;
  @extend %icon_small;
}

.marble_32 {
  background: url(../assets/items_small.png) -442px -442px no-repeat;
  @extend %icon_small;
}

.meat_dried_32 {
  background: url(../assets/items_small.png) -477px 0px no-repeat;
  @extend %icon_small;
}

.meatballs_32 {
  background: url(../assets/items_small.png) -477px -34px no-repeat;
  @extend %icon_small;
}

.meatrack_32 {
  background: url(../assets/items_small.png) -477px -68px no-repeat;
  @extend %icon_small;
}

.minerhat_32 {
  background: url(../assets/items_small.png) -477px -102px no-repeat;
  @extend %icon_small;
}

.minotaurhorn_32 {
  background: url(../assets/items_small.png) -477px -136px no-repeat;
  @extend %icon_small;
}

.mole_32 {
  background: url(../assets/items_small.png) -477px -170px no-repeat;
  @extend %icon_small;
}

.molehat_32 {
  background: url(../assets/items_small.png) -477px -204px no-repeat;
  @extend %icon_small;
}

.monsterlasagna_32 {
  background: url(../assets/items_small.png) -477px -238px no-repeat;
  @extend %icon_small;
}

.monstermeat_32 {
  background: url(../assets/items_small.png) -477px -272px no-repeat;
  @extend %icon_small;
}

.monstermeat_dried_32 {
  background: url(../assets/items_small.png) -477px -306px no-repeat;
  @extend %icon_small;
}

.mosquito_32 {
  background: url(../assets/items_small.png) -477px -340px no-repeat;
  @extend %icon_small;
}

.mosquitosack_32 {
  background: url(../assets/items_small.png) -477px -374px no-repeat;
  @extend %icon_small;
}

.multitool_axe_pickaxe_32 {
  background: url(../assets/items_small.png) -477px -408px no-repeat;
  @extend %icon_small;
}

.nightlight_32 {
  background: url(../assets/items_small.png) -477px -442px no-repeat;
  @extend %icon_small;
}

.nightmare_timepiece_32 {
  background: url(../assets/items_small.png) 0px -476px no-repeat;
  @extend %icon_small;
}

.nightmarefuel_32 {
  background: url(../assets/items_small.png) -34px -476px no-repeat;
  @extend %icon_small;
}

.nightstick_32 {
  background: url(../assets/items_small.png) -68px -476px no-repeat;
  @extend %icon_small;
}

.nightsword_32 {
  background: url(../assets/items_small.png) -102px -476px no-repeat;
  @extend %icon_small;
}

.nitre_32 {
  background: url(../assets/items_small.png) -136px -476px no-repeat;
  @extend %icon_small;
}

.onemanband_32 {
  background: url(../assets/items_small.png) -170px -476px no-repeat;
  @extend %icon_small;
}

.orangeamulet_32 {
  background: url(../assets/items_small.png) -204px -476px no-repeat;
  @extend %icon_small;
}

.orangegem_32 {
  background: url(../assets/items_small.png) -238px -476px no-repeat;
  @extend %icon_small;
}

.orangestaff_32 {
  background: url(../assets/items_small.png) -272px -476px no-repeat;
  @extend %icon_small;
}

.panflute_32 {
  background: url(../assets/items_small.png) -306px -476px no-repeat;
  @extend %icon_small;
}

.papyrus_32 {
  background: url(../assets/items_small.png) -340px -476px no-repeat;
  @extend %icon_small;
}

.perogies_32 {
  background: url(../assets/items_small.png) -374px -476px no-repeat;
  @extend %icon_small;
}

.petals_32 {
  background: url(../assets/items_small.png) -408px -476px no-repeat;
  @extend %icon_small;
}

.petals_evil_32 {
  background: url(../assets/items_small.png) -442px -476px no-repeat;
  @extend %icon_small;
}

.pickaxe_32 {
  background: url(../assets/items_small.png) -476px -476px no-repeat;
  @extend %icon_small;
}

.piggyback_32 {
  background: url(../assets/items_small.png) -511px 0px no-repeat;
  @extend %icon_small;
}

.pighouse_32 {
  background: url(../assets/items_small.png) -511px -34px no-repeat;
  @extend %icon_small;
}

.pigskin_32 {
  background: url(../assets/items_small.png) -511px -68px no-repeat;
  @extend %icon_small;
}

.pinecone_32 {
  background: url(../assets/items_small.png) -511px -102px no-repeat;
  @extend %icon_small;
}

.pitchfork_32 {
  background: url(../assets/items_small.png) -511px -136px no-repeat;
  @extend %icon_small;
}

.plantmeat_32 {
  background: url(../assets/items_small.png) -511px -170px no-repeat;
  @extend %icon_small;
}

.pomegranate_32 {
  background: url(../assets/items_small.png) -511px -204px no-repeat;
  @extend %icon_small;
}

.pomegranate_cooked_32 {
  background: url(../assets/items_small.png) -511px -238px no-repeat;
  @extend %icon_small;
}

.pomegranate_seeds_32 {
  background: url(../assets/items_small.png) -511px -272px no-repeat;
  @extend %icon_small;
}

.pottedfern_32 {
  background: url(../assets/items_small.png) -511px -306px no-repeat;
  @extend %icon_small;
}

.powcake_32 {
  background: url(../assets/items_small.png) -511px -340px no-repeat;
  @extend %icon_small;
}

.pumpkin_32 {
  background: url(../assets/items_small.png) -511px -374px no-repeat;
  @extend %icon_small;
}

.pumpkin_cooked_32 {
  background: url(../assets/items_small.png) -511px -408px no-repeat;
  @extend %icon_small;
}

.pumpkin_lantern_32 {
  background: url(../assets/items_small.png) -511px -442px no-repeat;
  @extend %icon_small;
}

.pumpkin_seeds_32 {
  background: url(../assets/items_small.png) -511px -476px no-repeat;
  @extend %icon_small;
}

.pumpkincookie_32 {
  background: url(../assets/items_small.png) 0px -510px no-repeat;
  @extend %icon_small;
}

.purpleamulet_32 {
  background: url(../assets/items_small.png) -34px -510px no-repeat;
  @extend %icon_small;
}

.purplegem_32 {
  background: url(../assets/items_small.png) -68px -510px no-repeat;
  @extend %icon_small;
}

.rabbit_32 {
  background: url(../assets/items_small.png) -102px -510px no-repeat;
  @extend %icon_small;
}

.rabbit_beardling_32 {
  background: url(../assets/items_small.png) -102px -646px no-repeat;
  width: 28px;
  height: 28px;
}

.rabbithouse_32 {
  background: url(../assets/items_small.png) -136px -510px no-repeat;
  @extend %icon_small;
}

.raincoat_32 {
  background: url(../assets/items_small.png) -170px -510px no-repeat;
  @extend %icon_small;
}

.rainhat_32 {
  background: url(../assets/items_small.png) -204px -510px no-repeat;
  @extend %icon_small;
}

.rainometer_32 {
  background: url(../assets/items_small.png) -238px -510px no-repeat;
  @extend %icon_small;
}

.ratatouille_32 {
  background: url(../assets/items_small.png) -272px -510px no-repeat;
  @extend %icon_small;
}

.razor_32 {
  background: url(../assets/items_small.png) -306px -510px no-repeat;
  @extend %icon_small;
}

.red_cap_32 {
  background: url(../assets/items_small.png) -340px -510px no-repeat;
  @extend %icon_small;
}

.red_cap_cooked_32 {
  background: url(../assets/items_small.png) -374px -510px no-repeat;
  @extend %icon_small;
}

.redgem_32 {
  background: url(../assets/items_small.png) -408px -510px no-repeat;
  @extend %icon_small;
}

.reflectivevest_32 {
  background: url(../assets/items_small.png) -442px -510px no-repeat;
  @extend %icon_small;
}

.researchlab2_32 {
  background: url(../assets/items_small.png) -510px -510px no-repeat;
  @extend %icon_small;
}

.researchlab3_32 {
  background: url(../assets/items_small.png) -545px 0px no-repeat;
  @extend %icon_small;
}

.researchlab4_32 {
  background: url(../assets/items_small.png) -545px -34px no-repeat;
  @extend %icon_small;
}

.researchlab_32 {
  background: url(../assets/items_small.png) -476px -510px no-repeat;
  @extend %icon_small;
}

.resurrectionstatue_32 {
  background: url(../assets/items_small.png) -545px -68px no-repeat;
  @extend %icon_small;
}

.robin_32 {
  background: url(../assets/items_small.png) -545px -102px no-repeat;
  @extend %icon_small;
}

.robin_winter_32 {
  background: url(../assets/items_small.png) -545px -136px no-repeat;
  @extend %icon_small;
}

.rocks_32 {
  background: url(../assets/items_small.png) -545px -170px no-repeat;
  @extend %icon_small;
}

.rope_32 {
  background: url(../assets/items_small.png) -545px -204px no-repeat;
  @extend %icon_small;
}

.rottenegg_32 {
  background: url(../assets/items_small.png) -545px -238px no-repeat;
  @extend %icon_small;
}

.ruins_bat_32 {
  background: url(../assets/items_small.png) -545px -272px no-repeat;
  @extend %icon_small;
}

.ruinshat_32 {
  background: url(../assets/items_small.png) -545px -306px no-repeat;
  @extend %icon_small;
}

.sapling_32 {
  background: url(../assets/items_small.png) -545px -340px no-repeat;
  @extend %icon_small;
}

.seeds_32 {
  background: url(../assets/items_small.png) -545px -374px no-repeat;
  @extend %icon_small;
}

.seeds_cooked_32 {
  background: url(../assets/items_small.png) -545px -408px no-repeat;
  @extend %icon_small;
}

.sewing_kit_32 {
  background: url(../assets/items_small.png) -545px -442px no-repeat;
  @extend %icon_small;
}

.shovel_32 {
  background: url(../assets/items_small.png) -545px -476px no-repeat;
  @extend %icon_small;
}

.siestahut_32 {
  background: url(../assets/items_small.png) -545px -510px no-repeat;
  @extend %icon_small;
}

.silk_32 {
  background: url(../assets/items_small.png) 0px -544px no-repeat;
  @extend %icon_small;
}

.slow_farmplot_32 {
  background: url(../assets/items_small.png) -34px -544px no-repeat;
  @extend %icon_small;
}

.slurper_pelt_32 {
  background: url(../assets/items_small.png) -68px -544px no-repeat;
  @extend %icon_small;
}

.slurtle_shellpieces_32 {
  background: url(../assets/items_small.png) -102px -544px no-repeat;
  @extend %icon_small;
}

.slurtlehat_32 {
  background: url(../assets/items_small.png) -136px -544px no-repeat;
  @extend %icon_small;
}

.slurtleslime_32 {
  background: url(../assets/items_small.png) -170px -544px no-repeat;
  @extend %icon_small;
}

.smallmeat_32 {
  background: url(../assets/items_small.png) -204px -544px no-repeat;
  @extend %icon_small;
}

.smallmeat_dried_32 {
  background: url(../assets/items_small.png) -238px -544px no-repeat;
  @extend %icon_small;
}

.spear_32 {
  background: url(../assets/items_small.png) -272px -544px no-repeat;
  @extend %icon_small;
}

.spear_wathgrithr_32 {
  background: url(../assets/items_small.png) -306px -544px no-repeat;
  @extend %icon_small;
}

.spidereggsack_32 {
  background: url(../assets/items_small.png) -340px -544px no-repeat;
  @extend %icon_small;
}

.spidergland_32 {
  background: url(../assets/items_small.png) -374px -544px no-repeat;
  @extend %icon_small;
}

.spiderhat_32 {
  background: url(../assets/items_small.png) -408px -544px no-repeat;
  @extend %icon_small;
}

.spoiled_food_32 {
  background: url(../assets/items_small.png) -442px -544px no-repeat;
  @extend %icon_small;
}

.staff_tornado_32 {
  background: url(../assets/items_small.png) -476px -544px no-repeat;
  @extend %icon_small;
}

.stinger_32 {
  background: url(../assets/items_small.png) -510px -544px no-repeat;
  @extend %icon_small;
}

.strawhat_32 {
  background: url(../assets/items_small.png) -544px -544px no-repeat;
  @extend %icon_small;
}

.stuffedeggplant_32 {
  background: url(../assets/items_small.png) -579px 0px no-repeat;
  @extend %icon_small;
}

.sweatervest_32 {
  background: url(../assets/items_small.png) -579px -34px no-repeat;
  @extend %icon_small;
}

.taffy_32 {
  background: url(../assets/items_small.png) -579px -68px no-repeat;
  @extend %icon_small;
}

.tallbirdegg_32 {
  background: url(../assets/items_small.png) -579px -102px no-repeat;
  @extend %icon_small;
}

.tallbirdegg_cooked_32 {
  background: url(../assets/items_small.png) -579px -136px no-repeat;
  @extend %icon_small;
}

.teleportato_box_32 {
  background: url(../assets/items_small.png) -579px -170px no-repeat;
  @extend %icon_small;
}

.teleportato_crank_32 {
  background: url(../assets/items_small.png) -579px -204px no-repeat;
  @extend %icon_small;
}

.teleportato_potato_32 {
  background: url(../assets/items_small.png) -579px -238px no-repeat;
  @extend %icon_small;
}

.teleportato_ring_32 {
  background: url(../assets/items_small.png) -579px -272px no-repeat;
  @extend %icon_small;
}

.telestaff_32 {
  background: url(../assets/items_small.png) -579px -306px no-repeat;
  @extend %icon_small;
}

.tent_32 {
  background: url(../assets/items_small.png) -579px -340px no-repeat;
  @extend %icon_small;
}

.tentaclespike_32 {
  background: url(../assets/items_small.png) -579px -374px no-repeat;
  @extend %icon_small;
}

.tentaclespots_32 {
  background: url(../assets/items_small.png) -579px -408px no-repeat;
  @extend %icon_small;
}

.thulecite_32 {
  background: url(../assets/items_small.png) -579px -442px no-repeat;
  @extend %icon_small;
}

.thulecite_pieces_32 {
  background: url(../assets/items_small.png) -579px -476px no-repeat;
  @extend %icon_small;
}

.tophat_32 {
  background: url(../assets/items_small.png) -579px -510px no-repeat;
  @extend %icon_small;
}

.torch_32 {
  background: url(../assets/items_small.png) -579px -544px no-repeat;
  @extend %icon_small;
}

.trailmix_32 {
  background: url(../assets/items_small.png) 0px -578px no-repeat;
  @extend %icon_small;
}

.transistor_32 {
  background: url(../assets/items_small.png) -34px -578px no-repeat;
  @extend %icon_small;
}

.trap_32 {
  background: url(../assets/items_small.png) -68px -578px no-repeat;
  @extend %icon_small;
}

.trap_teeth_32 {
  background: url(../assets/items_small.png) -102px -578px no-repeat;
  @extend %icon_small;
}

.treasurechest_32 {
  background: url(../assets/items_small.png) -136px -578px no-repeat;
  @extend %icon_small;
}

.trinket_10_32 {
  background: url(../assets/items_small.png) -476px -578px no-repeat;
  @extend %icon_small;
}

.trinket_11_32 {
  background: url(../assets/items_small.png) -510px -578px no-repeat;
  @extend %icon_small;
}

.trinket_12_32 {
  background: url(../assets/items_small.png) -544px -578px no-repeat;
  @extend %icon_small;
}

.trinket_1_32 {
  background: url(../assets/items_small.png) -170px -578px no-repeat;
  @extend %icon_small;
}

.trinket_2_32 {
  background: url(../assets/items_small.png) -204px -578px no-repeat;
  @extend %icon_small;
}

.trinket_3_32 {
  background: url(../assets/items_small.png) -238px -578px no-repeat;
  @extend %icon_small;
}

.trinket_4_32 {
  background: url(../assets/items_small.png) -272px -578px no-repeat;
  @extend %icon_small;
}

.trinket_5_32 {
  background: url(../assets/items_small.png) -306px -578px no-repeat;
  @extend %icon_small;
}

.trinket_6_32 {
  background: url(../assets/items_small.png) -340px -578px no-repeat;
  @extend %icon_small;
}

.trinket_7_32 {
  background: url(../assets/items_small.png) -374px -578px no-repeat;
  @extend %icon_small;
}

.trinket_8_32 {
  background: url(../assets/items_small.png) -408px -578px no-repeat;
  @extend %icon_small;
}

.trinket_9_32 {
  background: url(../assets/items_small.png) -442px -578px no-repeat;
  @extend %icon_small;
}

.trunk_cooked_32 {
  background: url(../assets/items_small.png) -578px -578px no-repeat;
  @extend %icon_small;
}

.trunk_summer_32 {
  background: url(../assets/items_small.png) -613px 0px no-repeat;
  @extend %icon_small;
}

.trunk_winter_32 {
  background: url(../assets/items_small.png) -613px -34px no-repeat;
  @extend %icon_small;
}

.trunkvest_summer_32 {
  background: url(../assets/items_small.png) -613px -68px no-repeat;
  @extend %icon_small;
}

.trunkvest_winter_32 {
  background: url(../assets/items_small.png) -613px -102px no-repeat;
  @extend %icon_small;
}

.turf_carpetfloor_32 {
  background: url(../assets/items_small.png) -613px -136px no-repeat;
  @extend %icon_small;
}

.turf_cave_32 {
  background: url(../assets/items_small.png) -613px -170px no-repeat;
  @extend %icon_small;
}

.turf_checkerfloor_32 {
  background: url(../assets/items_small.png) -613px -204px no-repeat;
  @extend %icon_small;
}

.turf_deciduous_32 {
  background: url(../assets/items_small.png) -613px -238px no-repeat;
  @extend %icon_small;
}

.turf_desertdirt_32 {
  background: url(../assets/items_small.png) -613px -272px no-repeat;
  @extend %icon_small;
}

.turf_forest_32 {
  background: url(../assets/items_small.png) -613px -306px no-repeat;
  @extend %icon_small;
}

.turf_fungus_32 {
  background: url(../assets/items_small.png) -613px -340px no-repeat;
  @extend %icon_small;
}

.turf_fungus_green_32 {
  background: url(../assets/items_small.png) -613px -374px no-repeat;
  @extend %icon_small;
}

.turf_fungus_red_32 {
  background: url(../assets/items_small.png) -613px -408px no-repeat;
  @extend %icon_small;
}

.turf_grass_32 {
  background: url(../assets/items_small.png) -613px -442px no-repeat;
  @extend %icon_small;
}

.turf_marsh_32 {
  background: url(../assets/items_small.png) -613px -476px no-repeat;
  @extend %icon_small;
}

.turf_mud_32 {
  background: url(../assets/items_small.png) -613px -510px no-repeat;
  @extend %icon_small;
}

.turf_road_32 {
  background: url(../assets/items_small.png) -613px -544px no-repeat;
  @extend %icon_small;
}

.turf_rocky_32 {
  background: url(../assets/items_small.png) -613px -578px no-repeat;
  @extend %icon_small;
}

.turf_savanna_32 {
  background: url(../assets/items_small.png) 0px -612px no-repeat;
  @extend %icon_small;
}

.turf_sinkhole_32 {
  background: url(../assets/items_small.png) -34px -612px no-repeat;
  @extend %icon_small;
}

.turf_underrock_32 {
  background: url(../assets/items_small.png) -68px -612px no-repeat;
  @extend %icon_small;
}

.turf_woodfloor_32 {
  background: url(../assets/items_small.png) -102px -612px no-repeat;
  @extend %icon_small;
}

.turkeydinner_32 {
  background: url(../assets/items_small.png) -136px -612px no-repeat;
  @extend %icon_small;
}

.twigs_32 {
  background: url(../assets/items_small.png) -170px -612px no-repeat;
  @extend %icon_small;
}

.umbrella_32 {
  background: url(../assets/items_small.png) -204px -612px no-repeat;
  @extend %icon_small;
}

.unagi_32 {
  background: url(../assets/items_small.png) -238px -612px no-repeat;
  @extend %icon_small;
}

.waffles_32 {
  background: url(../assets/items_small.png) -272px -612px no-repeat;
  @extend %icon_small;
}

.wall_hay_item_32 {
  background: url(../assets/items_small.png) -306px -612px no-repeat;
  @extend %icon_small;
}

.wall_ruins_item_32 {
  background: url(../assets/items_small.png) -340px -612px no-repeat;
  @extend %icon_small;
}

.wall_stone_item_32 {
  background: url(../assets/items_small.png) -374px -612px no-repeat;
  @extend %icon_small;
}

.wall_wood_item_32 {
  background: url(../assets/items_small.png) -408px -612px no-repeat;
  @extend %icon_small;
}

.walrus_tusk_32 {
  background: url(../assets/items_small.png) -442px -612px no-repeat;
  @extend %icon_small;
}

.walrushat_32 {
  background: url(../assets/items_small.png) -476px -612px no-repeat;
  @extend %icon_small;
}

.watermelon_32 {
  background: url(../assets/items_small.png) -510px -612px no-repeat;
  @extend %icon_small;
}

.watermelon_cooked_32 {
  background: url(../assets/items_small.png) -544px -612px no-repeat;
  @extend %icon_small;
}

.watermelon_seeds_32 {
  background: url(../assets/items_small.png) -578px -612px no-repeat;
  @extend %icon_small;
}

.watermelonhat_32 {
  background: url(../assets/items_small.png) -612px -612px no-repeat;
  @extend %icon_small;
}

.watermelonicle_32 {
  background: url(../assets/items_small.png) -647px 0px no-repeat;
  @extend %icon_small;
}

.wathgrithrhat_32 {
  background: url(../assets/items_small.png) -647px -34px no-repeat;
  @extend %icon_small;
}

.waxwell_32 {
  background: url(../assets/items_small.png) -647px -68px no-repeat;
  @extend %icon_small;
}

.waxwelljournal_32 {
  background: url(../assets/items_small.png) -647px -102px no-repeat;
  @extend %icon_small;
}

.webber_32 {
  background: url(../assets/items_small.png) -647px -136px no-repeat;
  @extend %icon_small;
}

.webberskull_32 {
  background: url(../assets/items_small.png) -647px -170px no-repeat;
  @extend %icon_small;
}

.wendy_32 {
  background: url(../assets/items_small.png) -647px -204px no-repeat;
  @extend %icon_small;
}

.wes_32 {
  background: url(../assets/items_small.png) -647px -238px no-repeat;
  @extend %icon_small;
}

.wetgoop_32 {
  background: url(../assets/items_small.png) -647px -272px no-repeat;
  @extend %icon_small;
}

.wickerbottom_32 {
  background: url(../assets/items_small.png) -647px -306px no-repeat;
  @extend %icon_small;
}

.wigfrid_32 {
  background: url(../assets/items_small.png) -647px -340px no-repeat;
  @extend %icon_small;
}

.willow_32 {
  background: url(../assets/items_small.png) -647px -374px no-repeat;
  @extend %icon_small;
}

.wilson_32 {
  background: url(../assets/items_small.png) -647px -408px no-repeat;
  @extend %icon_small;
}

.winterhat_32 {
  background: url(../assets/items_small.png) -647px -442px no-repeat;
  @extend %icon_small;
}

.winterometer_32 {
  background: url(../assets/items_small.png) -647px -476px no-repeat;
  @extend %icon_small;
}

.wolfgang_32 {
  background: url(../assets/items_small.png) -647px -510px no-repeat;
  @extend %icon_small;
}

.woodie_32 {
  background: url(../assets/items_small.png) -647px -544px no-repeat;
  @extend %icon_small;
}

.wormlight_32 {
  background: url(../assets/items_small.png) -647px -578px no-repeat;
  @extend %icon_small;
}

.wx-78_32 {
  background: url(../assets/items_small.png) -647px -612px no-repeat;
  @extend %icon_small;
}

.yellowamulet_32 {
  background: url(../assets/items_small.png) 0px -646px no-repeat;
  @extend %icon_small;
}

.yellowgem_32 {
  background: url(../assets/items_small.png) -34px -646px no-repeat;
  @extend %icon_small;
}

.yellowstaff_32 {
  background: url(../assets/items_small.png) -68px -646px no-repeat;
  @extend %icon_small;
}
