@import "base";

//1322 Grid System
$total-columns  : 12;             // a 12-column grid
$column-width   : 90px;            // each column is 4em wide
$gutter-width   : 20px;            // 1em gutters between columns

$gray : #bbb;
$darkgray : #ebdaba;
$selected : #999;

$leading: 1.6em;

$susy: (
	columns: $total-columns,
	gutters: $gutter-width / $column-width,
	column-width: $column-width,
);

@import "mixins";

* {
	@include box-sizing(border-box);
}

body {
	@include container;
	padding:0 20px;
	font-size:14pt;
	line-height:$leading;
	font-family: "Lato",Arial, "Helvetica Neue", Helvetica, sans-serif;
	// background: url(http://griddle.it/1300-12-20) repeat-y center top;
}

a {}

img, video, object, embed {
	max-width: 100%;
	height: auto !important;
}
h3 {
	font-weight:normal;
	font-size:24pt;
}
///////////////////////////////////////////////////////////////////
// Structure
///////////////////////////////////////////////////////////////////

%liststyle {
	list-style:none;
	padding-left:0
}

ul {
	@extend %liststyle;
	li {
		// @include gallery(3);
	}
}

.header {
	text-align:center;
	margin-bottom:spacing(1);
}

.content {
	@include full;
	h2 {
		display:inline-block;
	}
	input {
		display:inline;
	}
}


// List

ul#itemlist {
	@extend %liststyle;
}

.item {
	overflow:hidden;
	background:$gray;
	margin:$leading/4 0;
	@include transition-property(all);
	@include transition-duration(0.1s);
	@include transition-timing-function(ease-in);

	span {
		// color:$darkgray;
	}
	&:hover {
		background:$darkgray;
	}
}

	.icon {
		margin:5px;
		display:inline-block;
		vertical-align:middle;
	}
	.name {
		@include span(8);
	}
	.recipe {
		@include span(last 3);
		color:#666;
		text-align:right;
	}
	.prefab {
		color:#666;
	}
	.data {
		height:spacing(6);
		@include span(11 of 12);
		@include pre(1);
	}
.active {
	background-color:$selected;
}
.is-hidden {
	height: 0;
	font-size: 0;
	padding:0;
	margin:0;
	position: absolute;
	visibility: hidden;
}

.footer {
	@include full;
}


* {
     user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

::selection { background: transparent;color:inherit; }
::-moz-selection { background: transparent;color:inherit; }


// Tablet
 @media only screen and (max-width: 1023px) {
	body {
	}
}

// Mobile

@media handheld, only screen and (max-width: 767px) {
	body {
	}
}
