@import "base";

//1322 Grid System
$total-columns  : 12;             // a 12-column grid
$column-width   : 90px;            // each column is 4em wide
$gutter-width   : 20px;            // 1em gutters between columns

$gray : #eee;
$darkgray : #bbb;

$leading: 1.6em;

$susy: (
	columns: $total-columns,
	gutters: $gutter-width / $column-width,
	column-width: $column-width,
);

@import "mixins";


* {
	@include box-sizing(border-box);
}

body {
	padding:0 20px;
	@include container;
	font-size:14pt;
	line-height:$leading;
	font-family: "Lato",Arial, "Helvetica Neue", Helvetica, sans-serif;
	// background: url(http://griddle.it/1300-12-20) repeat-y center top;
	// padding-left: $gutter-width/2;
	// padding-right: $gutter-width/2;
}

a {}

img, video, object, embed {
	max-width: 100%;
	height: auto !important;
}
h3 {
	font-weight:normal;
	font-size:24pt;
}
///////////////////////////////////////////////////////////////////
// Structure
///////////////////////////////////////////////////////////////////

%liststyle {
	list-style:none;
	padding-left:0
}

.header {
	text-align:center;
	margin-bottom:spacing(1);
}

.info {
	height:spacing(6);
}

.item {overflow:hidden;
	height:spacing(3);
	span {}
}
.icon {
	width:64px;
	height:64px;
	display:inline-block;
}
ul {
	@extend %liststyle;
	li {
		// @include gallery(3);
	}
}


.header {
}
.content {
	@include full;
	h2 {
		display:inline-block;
	}
	input {
		display:inline;
	}

	ul#itemlist {
		@extend %liststyle;
		li {
			background:$gray;
			padding: 0 4px;
			margin:$leading/4 0;
			transition: all 0.1s ease;
			span {
				// color:$darkgray;
			}
			&.is-hidden {
				height: 0;
				font-size: 0;
				padding:0;
				margin:0;
				position: absolute;
				visibility: hidden;
			}
			&:hover {
				background:#bcae94;
			}
		}

	}
}

@import "items";

.footer {
	@include full;
}


// Tablet
 @media only screen and (max-width: 1023px) {
	body {
	}
}

// Mobile

@media handheld, only screen and (max-width: 767px) {
	body {
	}
}
