doctype html
html(lang="en")
    head
        title Don't Starve Items
        link(rel='stylesheet', href='css/all.css')
body

    .header
        h1 Don't Starve Items

    #itemsearch
        input(type='search' id='s' placeholder='Item' autofocus)
        p Food, Weapons, Armor

        .info

        ul#list
            //- Block Mixin
            mixin item(name,id)
                  li
                        .item
                              .icon(class=id)
                              span= name
                        div
                    //- Durability, Health, Sanity, Hunger, id, water resistance, damage, perk, tab, tier
                    //- Structures:  Houndius Shootius, Sign, Potted Fern, Chest, Ornage Chest, Scaled Chest

            +item('Abigail\'s Flower','abigail_flower')
            +item('Applied Horticulture','book_gardening')
            +item('Ash','ash')
            +item('Axe','axe')
            +item('Azure Feather','feather_robin_winter')
            +item('Backpack','backpack')
            +item('Bacon and Eggs','baconeggs')
            +item('Ball and Cup','trinket_7')
            +item('Bat Bat', 'batbat')
            +item('Batilisk Wing', 'batwing')
            +item('Battle Helm','wathgrithrhat')
            +item('Battle Spear', 'spear_wathgrithr')
            +item('Beard Hair', 'beardhair')
            +item('Bed Roll', 'bedroll_straw')
            +item('Bee','bee')
            +item('Bee Mine', 'beemine')
            +item('Beefalo Hat', 'beefalohat')
            +item('Beefalo Horn', 'horn')
            +item('Beefalo Wool', 'beefalowool')
            +item('Beekeeper Hat', 'beehat')
            +item('Belt of Hunger', 'armorslurper')
            +item('Berries', 'berries')
            +item('Berry Bush', 'berrybush')
            +item('Birchnut', 'acorn')
            +item('Bird Trap', 'birdtrap')
            +item('Birds of the World','book_birds')
            +item('Blow Dart', 'blowdart_pipe')
            +item('Blue Cap', 'blue_cap')
            +item('Blue Gem', 'bluegem')
            +item('Blueprint', 'blueprint')
            +item('Boards', 'boards')
            +item('Bone Shards', 'boneshard')
            +item('Boomerang', 'boomerang')
            +item('Box Thing', 'teleportato_box')
            +item('Breezy Vest', 'trunkvest_summer')
            +item('Broken Shell', 'slurtle_shellpieces')
            +item('Bucket-o-poop', 'fertilizer')
            +item('Bug Net', 'bugnet')
            +item('Bunny Puff', 'manrabbit_tail')
            +item('Bush Hat', 'bushhat')
            +item('Butter Muffin', 'butterflymuffin')
            +item('Butter', 'butter')
            +item('Butterfly', 'butterfly')
            +item('Butterfly Wings', 'butterflywings')
            +item('Cactus Flesh', 'cactus_meat')
            +item('Cactus Flower', 'cactus_flower')
            +item('Carpeted Flooring', 'turf_checkerfloor')
            +item('Carrot', 'carrot')
            +item('Cat Cap', 'catcoonhat')
            +item('Cat Tail', 'coontail')
            +item('Cave Banana', 'cave_banana')
            +item('Cave Rock Turf', 'turf_underrock')
            +item('Charcoal', 'charcoal')
            +item('Checkerboard Flooring', 'turf_checkerfloor')
            +item('Chilled Amulet', 'blueamulet')
            +item('Cobblestones', 'turf_road')
            +item('Codex Umbra', 'waxwelljournal')
            +item('Compass', 'compass')
            +item('Construction Amulet', 'greenamulet')
            +item('Corn', 'corn')
            +item('Crank Thing', 'teleportato_crank')
            +item('Crimson Feather', 'feather_robin')
            +item('Cut Grass', 'cutgrass')
            +item('Cut Reeds', 'cutreeds')
            +item('Cut Stone', 'cutstone')
            +item('Dapper Vest', 'sweatervest')
            +item('Dark Petals', 'petals_evil')
            +item('Dark Sword', 'nightsword')
            +item('Deciduous Turf', 'turf_deciduous')
            +item('Deconstruction Staff', 'greenstaff')
            +item('Deerclops Eyeball', 'deerclops_eyeball')
            +item('Divining Rod', 'diviningrod')
            +item('Down Feather', 'goose_feather')
            +item('Dragon Fruit', 'dragonfruit')
            +item('Dragonpie', 'dragonpie')
            +item('Drumstick', 'drumstick')
            +item('Durian', 'durian')
            +item('Eel', 'eel')
            +item('Eggplant', 'eggplant')
            +item('Egg', 'bird_egg')
            +item('Electric Milk', 'goatmilk')
            +item('Electrical Doodad', 'transistor')
            +item('Eye Bone', 'chester_eyebone')
            +item('Eyebrella', 'eyebrellahat')
            +item('Fake Kazoo', 'trinket_2')
            +item('Fashion Melon', 'watermelonhat')
            +item('Feather Hat', 'featherhat')
            +item('Fire Dart', 'blowdart_fire')
            +item('Fire Staff', 'firestaff')
            +item('Fireflies', 'fireflies')
            +item('Fish', 'fish')
            +item('Fish Tacos', 'fishtacos')
            +item('Fishing Rod', 'fishingrod')
            +item('Fishsticks', 'fishsticks')
            +item('Fist Full of Jam', 'jammypreserves')
            +item('Fleshy Bulb', 'lureplantbulb')
            +item('Flint', 'flint')
            +item('Floral Shirt', 'hawaiianshirt')
            +item('Flower Salad', 'flowersalad')
            +item('Foliage', 'foliage')
            +item('Football Helmet', 'footballhat')
            +item('Forest Turf', 'turf_forest')
            +item('Frazzeled Wires', 'trinket_6')
            +item('Frog Legs', 'froglegs')
            +item('Froggle Bunwich', 'frogglebunwich')
            +item('Fruit Medley', 'fruitmedley')
            +item('Fungal Turf', 'turf_fungus')
            +item('Garland', 'flowerhat')
            +item('Gears', 'gears')
            +item('Glommer\'s Flower', 'glommerflower')
            +item('Glommer\'s Goop', 'glommerfuel')
            +item('Glommer\'s Wings', 'glommerwings')
            +item('Glow Berry', 'wormlight')
            +item('Gnome', 'trinket_4')
            +item('Gold Nugget', 'goldnugget')
            +item('Gord\'s Knot', 'trinket_3')
            +item('Grass Suit', 'armorgrass')
            +item('Grass Tuft', 'dug_grass')
            +item('Grass Turf', 'turf_grass')
            +item('Green Cap', 'green_cap')
            +item('Green Gem', 'greengem')
            +item('Guacamole', 'guacamole')
            +item('Guano Turf', 'turf_cave')
            +item('Guano', 'guano')
            +item('Guardian\'s Horn', 'minotaurhorn')
            +item('Gunpowder', 'gunpowder')
            +item('Ham Bat', 'hambat')
            +item('Hay Wall', 'wall_hay_item')
            +item('Hammer', 'hammer')
            +item('Hardened Rubber Bung', 'trinket_8')
            +item('Healing Salve', 'healingsalve')
            +item('Hibearnation Vest', 'beargervest')
            +item('Honey', 'honey')
            +item('Honey Ham', 'honeyham')
            +item('Honey Nuggets', 'honeynuggets')
            +item('Honey Poultice', 'bandage')
            +item('Honeycomb', 'honeycomb')
            +item('Hound\'s Tooth', 'houndstooth')
            +item('Ice', 'ice')
            +item('Ice Cream', 'icecream')
            +item('Ice Cube', 'icehat')
            +item('Ice Flingomatic', 'firesuppressor')
            +item('Ice Staff', 'icestaff')
            +item('Insulated Pack', 'icepack')
            +item('Jerky','meat_dried')
            +item('Jet Feather','feather_crow')
            +item('Kabobs', 'kabobs')
            +item('Koalefant Trunk', 'trunk_winter')
            +item('Krampus\' Sack', 'krampus_sack')
            +item('Lantern', 'lantern')
            +item('Lying Robot', 'trinket_11')
            +item('Leafy Meat','plantmeat')
            +item('Lichen', 'cutlichen')
            +item('Life Giving Amulet', 'amulet')
            +item('Light Bulb', 'lightbulb')
            +item('Living Log', 'livinglog')
            +item('Log', 'log')
            +item('Log Suit', 'armorwood')
            +item('Lucy the Axe','lucy')
            +item('Luxury Fan', 'featherfan')
            +item('Magiluminescence', 'yellowamulet')
            +item('Mandrake', 'mandrake')
            +item('Mandrake Soup', 'mandrakesoup')
            +item('Manure', 'manure')
            +item('Marble', 'marble')
            +item('Marble Suit', 'armormarble')
            +item('Marsh Turf', 'turf_marsh')
            +item('Meat', 'smallmeat')
            +item('Meatballs', 'meatballs')
            +item('Meaty Stew', 'bonestew')
            +item('Melty Marbles', 'trinket_1')
            +item('Melonsicle', 'watermelonicle')
            +item('Metal Potato Thing', 'teleportato_potato')
            +item('Miner Hat', 'minerhat')
            +item('Mismatched Buttons', 'trinket_9')
            +item('Moggles', 'molehat')
            +item('Moleworm', 'mole')
            +item('Monster Jerky', 'monstermeat_dried')
            +item('Monster Lasagna', 'monsterlasagna')
            +item('Monster Meat', 'monstermeat')
            +item('Morning Star', 'nightstick')
            +item('Morsel', 'cookedsmallmeat')
            +item('Mosquito', 'mosquito')
            +item('Mosquito Sack', 'mosquitosack')
            +item('Mud Turf', 'turf_mud')
            +item('Night Armour', 'armor_sanity')
            +item('Nightmare Amulet', 'purpleamulet')
            +item('Nightmare Fuel', 'nightmarefuel')
            +item('Nitre', 'nitre')
            +item('Old Bell', 'bell')
            +item('On Tentacles', 'book_tentacles')
            +item('One-man Band', 'onemanband')
            +item('Orange Gem', 'orangegem')
            +item('Pan Flute', 'panflute')
            +item('Papyrus', 'papyrus')
            +item('Petals', 'petals')
            +item('Pickaxe', 'pickaxe')
            +item('Pick/Axe', 'multitool_axe_pickaxe')
            +item('Pierogi', 'perogies')
            +item('Pig Skin', 'pigskin')
            +item('Pile o\' Balloons', 'balloons_empty')
            +item('Pine Cone', 'pinecone')
            +item('Piggyback', 'piggyback')
            +item('Pitchfork', 'pitchfork')
            +item('Pomegranate', 'pomegranate')
            +item('Powdercake', 'powcake')
            +item('Pretty Parasol', 'grass_umbrella')
            +item('Puffy Vest', 'trunkvest_winter')
            +item('Pumpkin Cookie', 'pumpkincookie')
            +item('Pumpkin Lantern', 'pumpkin_lantern')
            +item('Pumpkin', 'pumpkin')
            +item('Purple Gem', 'purplegem')
            +item('Rabbit', 'rabbit')
            +item('Rabbit Earmuff', 'earmuffshat')
            +item('Rain Coat', 'raincoat')
            +item('Rain Hat', 'rainhat')
            +item('Ratatouille', 'ratatouille')
            +item('Razor', 'razor')
            +item('Red Cap', 'red_cap')
            +item('Red Gem', 'redgem')
            +item('Ring Thing', 'teleportato_ring')
            +item('Rocks', 'rocks')
            +item('Rocky Turf', 'turf_rocky')
            +item('Rope', 'rope')
            +item('Rot', 'spoiled_food')
            +item('Rotten Egg', 'rottenegg')
            +item('Sandy Turf', 'turf_desertdirt')
            +item('Sapling', 'sapling')
            +item('Savanna Turf', 'turf_savanna')
            //- +item('Scaled Chest', 'dragonflychest')
            +item('Scalemail', 'armordragonfly')
            +item('Scales', 'dragon_scales')
            +item('Second-hand Dentures', 'trinket_10')
            +item('Seeds', 'seeds')
            +item('Sewing Kit', 'sewing_kit')
            +item('Shelmet', 'slurtlehat')
            +item('Shovel', 'shovel')
            +item('Silk', 'silk')
            +item('Sleep Dart', 'blowdart_sleep')
            +item('Sleepytime Stories', 'book_sleep')
            +item('Slimey Turf', 'turf_sinkhole')
            +item('Slurper Pelt', 'slurper_pelt')
            +item('Slurper', 'armor_slurper')
            +item('Slurtle Slime', 'slurtleslime')
            +item('Small Jerky', 'smallmeat_dried')
            +item('Snurtle Shell Armor', 'armorsnurtleshell')
            +item('Spear', 'spear')
            +item('Spicy Chili', 'hotchili')
            +item('Spider Eggs', 'spidereggsack')
            +item('Spider Gland', 'spidergland')
            +item('Spiderhat', 'spiderhat')
            +item('Spiky Bush', 'dug_marsh_bush')
            +item('Star Caller\'s Staff', 'yellowstaff')
            +item('Stinger', 'stinger')
            +item('Stone Wall', 'wall_stone_item')
            +item('Straw Hat', 'strawhat')
            +item('Stuffed Eggplant', 'stuffedeggplant')
            +item('Summer Frest', 'reflectivevest')
            +item('Taffy', 'taffy')
            +item('Tallbird Egg', 'tallbirdegg')
            +item('Tam o\' Shanter', 'walrushat')
            +item('Telelocator Staff', 'telestaff')
            +item('Tentacle Spike', 'tentaclespike')
            +item('Tentacle Spots', 'tentaclespots')
            +item('The End is Nigh', 'book_brimstone')
            +item('The Lazy Explorer', 'orangestaff')
            +item('The Lazy Forager', 'orangeamulet')
            +item('Thermal Stone', 'heatrock')
            +item('Thick Fur', 'bearger_fur')
            +item('Thulecite', 'thulecite')
            +item('Thulecite Club', 'ruins_bat')
            +item('Thulecite Crown', 'ruinshat')
            +item('Thulecite Fragments', 'thulecite_pieces')
            +item('Thulecite Medallion', 'nightmare_timepiece')
            +item('Thulecite Suit', 'armorruins')
            +item('Thulecite Wall', 'wall_ruins_item')
            +item('Tiny Rocketship', 'trinket_5')
            +item('Tooth Trap', 'trap_teeth')
            +item('Top Hat', 'tophat')
            +item('Torch', 'torch')
            +item('Trail Mix', 'trailmix')
            +item('Trap', 'trap')
            +item('Turkey Dinner', 'turkeydinner')
            +item('Twigs', 'twigs')
            +item('Umbrella', 'umbrella')
            +item('Unagi', 'unagi')
            +item('Volt Goat Horn', 'lightninggoathorn')
            +item('Waffles', 'waffles')
            +item('Walking Cane', 'cane')
            +item('Walrus Tusk', 'walrus_tusk')
            +item('Watermelon', 'watermelon')
            +item('Weather Pain', 'staff_tornado')
            +item('Webber\'s Skull', 'webberskull')
            +item('Wet Goop', 'wetgoop')
            +item('Willow\'s Lighter', 'lighter')
            +item('Winter Hat', 'winterhat')
            +item('Wooden Flooring', 'turf_woodfloor')
            +item('Wooden Wall', 'wall_wood_item')
            +item('Yellow Gem', 'yellowgem')

    .footer

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type="text/javascript" src="js/all.js")

