doctype html
html(lang="en")
    head
        title pageTitle
        link(rel='stylesheet', href='css/all.css')
body

    .header
        h1 Don't Starve Items



    #itemsearch
        input(type='search' id='filter' placeholder='Item')
        p Food, Weapons, Armor
        ul#list
            //- Block Mixin
            mixin item(name,id)
                li
                    //- div.icon(class=id)
                    if id
                        img(src='assets/items/' + id + '.png')
                    else
                        p No Image
                    = name
                    //- Durability, Health, Sanity, Hunger, id, water resistance, damage, perk, tab, tier
            +item('Abigail\'s Flower','abigail_flower')
            +item('Ash','ash')
            +item('Axe','axe')
            +item('Backpack','backpack')
            +item('Bacon and Eggs','baconeggs')
            +item('Bat Bat', 'batbat')
            +item('Batilisk Wing', 'batwing')
            +item('Battle Helm','wathgrithrhat')
            +item('Battle Spear', 'spear_wathgrithr')
            +item('Beard Hair', 'beardhair')
            +item('Bed Roll', 'bedroll_straw')
            +item('Bee','bee')
            +item('Bee Mine', 'beemine')
            +item('Beefalo Hat', 'beefalohat')
            +item('Beefalo Horn', 'horn')
            +item('Beefalo Wool', 'beefalowool')
            +item('Beekeeper Hat', 'beehat')
            +item('Belt of Hunger', 'armorslurper')
            +item('Berries', 'berries')
            +item('Berry Bush', 'berrybush')
            +item('Birchnut', '')
            +item('Bird Trap', '')
            +item('Birds', '')
            +item('Blow Dart', '')
            +item('Blue Gem', '')
            +item('Blueprint', '')
            +item('Boards', '')
            +item('Bone Shards', '')
            +item('Boomerang', '')
            +item('Box Thing', '')
            +item('Breezy Vest', '')
            +item('Broken Shell', '')
            +item('Bucket-o-poop', '')
            +item('Bug Net', '')
            +item('Bunny Puff', '')
            +item('Bush Hat', '')
            +item('Butter', '')
            +item('Butter Muffin', '')
            +item('Butterfly', '')
            +item('Butterfly Wings', '')
            +item('Cactus Flesh', '')
            +item('Cactus Flower', '')
            +item('Carpeted Flooring', '')
            +item('Carrot', '')
            +item('Cat Cap', '')
            +item('Cat Tail', '')
            +item('Cave Banana', '')
            +item('Cave Rock Turf', '')
            +item('Charcoal', '')
            +item('Checkerboard Flooring', '')
            +item('Chilled Amulet', '')
            +item('Cobblestones', '')
            +item('Codex Umbra', '')
            +item('Compass', 'compass')
            +item('Construction Amulet', '')
            +item('Cooked Egg', '')
            +item('Corn', '')
            +item('Crank Thing', '')
            +item('Crop Seeds', '')
            +item('Cut Grass', 'cutgrass')
            +item('Cut Reeds', 'cutreeds')
            +item('Cut Stone', 'cutstone')
            +item('Dairy product', '')
            +item('Dapper Vest', '')
            +item('Dark Sword', '')
            +item('Deciduous Turf', '')
            +item('Deconstruction Staff', '')
            +item('Deerclops Eyeball', '')
            +item('Divining Rod', '')
            +item('Down Feather', '')
            +item('Dragon Fruit', '')
            +item('Dragonpie', '')
            +item('Drumstick', '')
            +item('Durian', '')
            +item('Eel', '')
            +item('Eggplant', '')
            +item('Egg', '')
            +item('Electric Milk', '')
            +item('Electrical Doodad', '')
            +item('Eye Bone', '')
            +item('Eyebrella', '')
            +item('Fashion Melon', '')
            +item('Feather', '')
            +item('Feather Hat', '')
            +item('Fire Staff', '')
            +item('Fireflies', 'fireflies')
            +item('Fish', '')
            +item('Fish', '')
            +item('Fish Tacos', '')
            +item('Fishing Rod', '')
            +item('Fishsticks', '')
            +item('Fist Full of Jam', '')
            +item('Fleshy Bulb', '')
            +item('Flint', '')
            +item('Floral Shirt', '')
            +item('Flower Salad', '')
            +item('Football Helmet', 'footballhat')
            +item('Forest Turf', '')
            +item('Frog Legs', '')
            +item('Froggle Bunwich', '')
            +item('Fruit', '')
            +item('Fruit Medley', '')
            +item('Fungal Turf', '')
            +item('Garland', '')
            +item('Gears', '')
            +item('Gems', '')
            +item('Glommer\'s Flower', '')
            +item('Glommer\'s Goop', '')
            +item('Glommer\'s Wings', '')
            +item('Glow Berry', '')
            +item('Gold Nugget', 'goldnugget')
            +item('Grass Suit', '')
            +item('Grass Tuft', '')
            +item('Grass Turf', '')
            +item('Gravedigger Items', '')
            +item('Green Gem', '')
            +item('Guacamole', '')
            +item('Guano', '')
            +item('Guano Turf', '')
            +item('Guardian\'s Horn', '')
            +item('Gunpowder', '')
            +item('Ham Bat', '')
            +item('Hammer', '')
            +item('Healing Salve', '')
            +item('Hibearnation Vest', '')
            +item('Honey', '')
            +item('Honey Ham', '')
            +item('Honey Nuggets', '')
            +item('Honey Poultice', '')
            +item('Honeycomb', '')
            +item('Hound\'s Tooth', '')
            +item('Houndius Shootius', '')
            +item('Ice', 'ice')
            +item('Ice Cream', '')
            +item('Ice Cube', '')
            +item('Ice Flingomatic', '')
            +item('Ice Staff', '')
            +item('Insulated Pack', '')
            +item('Jerky','jerky')
            +item('Kabobs', '')
            +item('Koalefant Trunk', '')
            +item('Lantern', '')
            +item('Leafy Meat','plantmeat')
            +item('Lichen', '')
            +item('Life Giving Amulet', '')
            +item('Light Bulb', '')
            +item('Living Log', '')
            +item('Log', '')
            +item('Log Suit', '')
            +item('Lucy the Axe','lucy')
            +item('Luxury Fan', '')
            +item('Magiluminescence', '')
            +item('Mandrake', '')
            +item('Mandrake Soup', '')
            +item('Manure', 'manure')
            +item('Marble', '')
            +item('Marble Suit', '')
            +item('Marsh Turf', '')
            +item('Meat', '')
            +item('Meatballs', '')
            +item('Meats', '')
            +item('Meaty Stew', '')
            +item('Melonsicle', '')
            +item('Metal Potato Thing', '')
            +item('Miner Hat', 'minerhat')
            +item('Moggles', '')
            +item('Moleworm', '')
            +item('Monster Jerky', '')
            +item('Monster Lasagna', '')
            +item('Monster Meat', '')
            +item('Morning Star', '')
            +item('Morsel', '')
            +item('Mosquito', '')
            +item('Mosquito Sack', '')
            +item('Mud Turf', '')
            +item('Mushrooms', '')
            +item('Night Armour', '')
            +item('Nightmare Amulet', '')
            +item('Nightmare Fuel', '')
            +item('Nitre', '')
            +item('Non-renewable resources', '')
            +item('Note', '')
            +item('Old Bell', '')
            +item('One-man Band', '')
            +item('Orange Gem', '')
            +item('Ornate Chest', '')
            +item('Pan Flute', '')
            +item('Papyrus', 'papyrus')
            +item('Petals', '')
            +item('Pickaxe', '')
            +item('Pierogi', '')
            +item('Pig Skin', 'pigskin')
            +item('Pile o\' Balloons', '')
            +item('Pine Cone', '')
            +item('Pitchfork', '')
            +item('Pomegranate', '')
            +item('Powdercake', '')
            +item('Pretty Parasol', '')
            +item('Puffy Vest', '')
            +item('Pumpkin', 'pumpkin')
            +item('Pumpkin Cookie', 'pumpkincookie')
            +item('Pumpkin Lantern', 'pumpkin_lantern')
            +item('Purple Gem', '')
            +item('Rabbit', '')
            +item('Rabbit Earmuff', '')
            +item('Rain Coat', '')
            +item('Rain Hat', '')
            +item('Ratatouille', '')
            +item('Razor', '')
            +item('Red Gem', '')
            +item('Ring Thing', '')
            +item('Road Turf', '')
            +item('Rocks', 'rocks')
            +item('Rocky Turf', '')
            +item('Rope', 'rope')
            +item('Rot', '')
            +item('Rotten Egg', '')
            +item('Runic Turf', '')
            +item('Sandy Turf', '')
            +item('Sapling', '')
            +item('Savanna Turf', '')
            +item('Scaled Chest', '')
            +item('Scalemail', '')
            +item('Scales', '')
            +item('Seeds', 'seeds')
            +item('Sewing Kit', '')
            +item('Shelmet', '')
            +item('Shovel', 'shovel')
            +item('Sign', '')
            +item('Silk', 'silk')
            +item('Slimey Turf', '')
            +item('Slurper', '')
            +item('Slurper Pelt', '')
            +item('Slurtle Slime', '')
            +item('Small Jerky', '')
            +item('Snurtle Shell Armor', '')
            +item('Spear', '')
            +item('Spicy Chili', '')
            +item('Spider Eggs', '')
            +item('Spider Gland', '')
            +item('Spiderhat', '')
            +item('Spiky Bush', '')
            +item('Star Caller\'s Staff', '')
            +item('Sticky Webbing', '')
            +item('Stinger', '')
            +item('Straw Hat', 'strawhat')
            +item('Stuffed Eggplant', '')
            +item('Summer Frest', '')
            +item('Taffy', '')
            +item('Tallbird Egg', '')
            +item('Tam o\' Shanter', '')
            +item('Telelocator Staff', '')
            +item('Tentacle Spike', '')
            +item('Tentacle Spots', '')
            +item('The Lazy Explorer', '')
            +item('The Lazy Forager', '')
            +item('Thermal Stone', '')
            +item('Thick Fur', '')
            +item('Thulecite', '')
            +item('Thulecite Club', '')
            +item('Thulecite Crown', '')
            +item('Thulecite Fragments', '')
            +item('Thulecite Medallion', '')
            +item('Thulecite Suit', '')
            +item('Tooth Trap', '')
            +item('Top Hat', '')
            +item('Torch', '')
            +item('Trail Mix', '')
            +item('Trap', '')
            +item('Turkey Dinner', '')
            +item('Twigs', 'twigs')
            +item('Umbrella', '')
            +item('Unagi', '')
            +item('Vegetables', '')
            +item('Volt Goat Horn', '')
            +item('Waffles', '')
            +item('Walking Cane', '')
            +item('Wall', '')
            +item('Walrus Tusk', '')
            +item('Watermelon', '')
            +item('Weather Pain', '')
            +item('Webber\'s Skull', '')
            +item('Wet Goop', '')
            +item('Willow\'s Lighter', '')
            +item('Winter Hat', '')
            +item('Wooden Flooring', '')
            +item('Yellow Gem', '')

    .footer

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type="text/javascript" src="js/all.js")

