//================================
// Base
//================================

@import "base/susy/language/susy";
@import "base/bourbon/bourbon";
@import "base/variables";

//================================
// Modules
//================================

@import "mixins";
@import "items";
@import "items_small";
@import url(normalize.css);
@import url(http://fonts.googleapis.com/css?family=Lato);

//================================
// Structure
//================================

body {
	@include container;
	@include font-size(18px);
	padding:0 20px;
	line-height:$leading;
	font-family: "Lato",Arial, "Helvetica Neue", Helvetica, sans-serif;
	// background: url(http://griddle.it/1300-12-20) repeat-y center top;
}

img, video, object, embed {
	max-width: 100%;
	height: auto !important;
}

img {
  -ms-interpolation-mode: bicubic;
  height: auto !important;
  max-width: 100%;
  vertical-align: middle;
}

h3 {
	font-weight:normal;
	font-size:24pt;
}


%liststyle {
	list-style:none;
	padding-left:0
}

ul {
	@extend %liststyle;
	li {
		// @include gallery(3);
	}
}

.header {
	margin-top:spacing(2);
}

#logo {
	@include span(last 3);
	font-size:inherit;
}
input[type="search"] {
	@include span(8);
	@include font-size(24px);
	height:spacing(2);
	border:none;
 	font-weight: bold;
	&:focus {
		outline: none;
	}
}


.content {
	@include full;
	h2 {
		display:inline-block;
	}
	input {
		display:inline;
	}
}


// List

ul#itemlist {
	@extend %liststyle;
}

.item {
 	overflow:hidden;
	background:$gray;
	// margin:$leading/4 0;
	// @include transition(all 0.1s ease-in);

	span {
		// color:$hover-color;
	}
	&:hover {
		background:$hover-color;
	}
}

.recipe {
	height:spacing(3);

	//http://css-tricks.com/centering-in-the-unknown/
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}
}
	.icon {
		display:inline-block;
		vertical-align:middle;
	}
	.name {
		@include span(6);
		height:spacing(3);
		.icon {
			margin:0 20px;
		}
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em;
		}
	}
	.recipe {
		@include span(last 6);
		color:#666;
		text-align:right;
		.icon {
			margin-left:5px;
			margin-right:5px;
		}
	}
	.prefab {
		color:#666;
	}
	.data {
		height:spacing(6);
		@include span(11 of 12);
		@include pre(1);
	}
.active {
	.top {
		background-color:$selected-color;
		overflow:hidden;
	}
}
.is-hidden {
	height: 0;
	font-size: 0;
	padding:0;
	margin:0;
	position: absolute;
	visibility: hidden;
}

.footer {
	@include full;
}


// Tablet
 @media only screen and (max-width: 1023px) {
	body {
	}
}

// Mobile

@media handheld, only screen and (max-width: 767px) {
	body {
	}
}
